{% extends 'layout/posts/default.twig' %}

{% block content %}
    <section class="section jumbotron dark hide-on-med-and-up">
        <div class="container animated slideInRight">
            <div class="carousel small">
                 {% for p in photos %}
                <a href="{{ p.url }}" class="carousel-item">
                    <img src="{{ p.smallThumbUrl }}" alt="{{ p.name }}" title="{{ p.name }}">
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section container animated slideInRight">
        <div class="gallery gallery-container" data-action="gallery">
            {% for p in photos %}
                <article class="gallery-item" data-action="gallery-item" id="{{ p.id }}" data-url="{{ p.url }}">
                    <img src="{{ p.smallThumbUrl }}" class="responsive-img" title="{{ p.name }}" alt="{{ p.name }}" data-action="gallery-item-img">
                    <div class="gallery-item-body section jumbotron dark" data-action="gallery-item-body">
                        <div class="row col l12 m12 s12">
                            <div class="col l6 m6 s12 pb10">
                                <img src="{{ p.thumbUrl }}" title="{{ p.name }}" class="responsive-img" alt="">
                            </div>
                            <div class="col l6 m6 s12">
                                <h2 class="ui header">{{ p.name }}</h2>
                                <p>
                                     {{ p.description }}
                                </p>
                                <p>
                                    <a href="{{ p.url }}" class="btn btn-flat">Voir Plus</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
    <div class="fixed-action-btn {{ activeUser ? 'second' : '' }}">
        <a href="/gallery/slider" class="btn-floating btn-large blue dark-2 waves-effect shadow-4">
            <i class="icon  icon-picture"></i>
        </a>
    </div>
{% endblock %}
