{% autoescape false %}
    {% for a in albums %}
        <div class="row nexted col s12 m3 l3 animated slideInUp" id="{{ a.id }}">
            <article class="card post-titled grey dark-4">
                <div class="card-image waves-effect">
                    <a href="{{ a.url }}">
                        {% for key, thumb in thumbs %}
                            {% if a.id == key %}
                                <img src="{{ cacheBusting('/imgs/sblank.png') }}" data-src="{{ thumb }}" alt="{{ a.title }}" title="{{ a.title }}" class="responsive-img">
                            {% endif %}
                        {% endfor %}
                    </a>
                </div>
                <div class="post-description">
                    <span class="truncate ui header">{{ a.title }}</span>
                    {{ nb[a.id] }} publication{{ nb[a.id] > 1 ? 's' : '' }}
                </div>
            </article>
        </div>
    {% endfor %}
{% endautoescape %}
