{% extends 'layout/default.twig' %}

{% block content %}
    <section class="section row container animated slideInUp">
        <div class="row container">
            <div class="col l12 s12 m12">
                <h2 class="ui header"> Dernières photos</h2>
            </div>
        </div>
        <div class="gallery large gallery-container">
            {% for p in posts %}
                <article class="gallery-item hoverable" id="{{ p.id }}"  style="background: {{ p.color }}">
                    <a href="{{ path('posts.show', {id: p.id, slug: p.slug}) }}" title="{{ p.name }}">
                        <img src="" data-src="{{ p.getSmallThumb }}" title="{{ p.name }}" alt="{{ p.name }}">
                    </a>
                </article>
            {% endfor %}
        </div>
        <div class="container">
            <br>
            <div class="col s12 center">
                <p><a href="{{ path('posts') }}" class="btn">Afficher Plus <span class="icon icon-eye"></span></a></p>
            </div>
        </div>
    </section>
    {% include 'includes/services.twig' %}
    {% include 'includes/community.twig' %}
{% endblock %}
