<ul id="mobile-admin-menu" class="side-nav links">
    <div class="user-action">
        <li>
            <a href="{{ constant('ADMIN')~"/blog/add" }}" data-turbolinks="false" class="btn blue dark-3 waves-effect">Article</a>
            <a href="{{ constant('ADMIN')~"/gallery/add" }}" data-turbolinks="false" class="btn blue dark-3 waves-effect">Photo</a>
            <a href="{{ constant('ADMIN')~"/gallery/albums/add" }}" data-turbolinks="false" class="btn blue dark-3 waves-effect">Albums</a>
            <a href="{{ constant('ADMIN')~"/blog/categories/add" }}" data-turbolinks="false" class="btn blue dark-3 waves-effect">Catégories</a>
        </li>
    </div>
    <li>
        <ul>
            <li id="Accueil"><a href="/" data-turbolinks="false"> Front-end<i class="icon icon-home"></i></a></li>
            <li id="Blog"><a href="{{ constant('ADMIN')~"/blog" }}" data-turbolinks="false">Blog <i class="icon icon-quote-left "></i></a></li>
            <li id="users"><a href="{{ constant('ADMIN')~"/users" }}" data-turbolinks="false"> Users <i class="icon icon-users"></i></a></li>
            <li id="Actualités"><a href="{{ constant('ADMIN')~"/posts" }}" data-turbolinks="false">Users Posts <i class="icon icon-attach "></i></a></li>
            <li id="Gallerie"><a href="{{ constant('ADMIN')~"/gallery" }}" data-turbolinks="false">Gallerie <i class="icon icon-picture "></i></a></li>
        </ul>
    </li>
</ul>
