<div class="fixed-action-btn">
    <a href="{{ path('posts.create') }}" title="Uploader une photo" class="btn-floating pulse btn-large shadow-5">
        <i class="icon icon-plus"></i>
    </a>
</div>

<footer class="page-footer jumbotron dark shadow-2">
    <div class="row container">
        <section class="col l12 m12 s12">
            <h2 class="ui header">
                A propos
            </h2>
            <p class="grey-txt">
                L'expression de la photographie africaine, les meilleures photos partagées par des photographes
                talentueux.
                <br>
                Ngpictures est une galerie photo pour photographes et passionnés de la photographie,
                <br>
                Nous vous proposons de découvrir la photographie africaine autrement.
                <a href="{{ path('about') }}">En savoir plus</a>
            </p>
            <div class="ui horizontal bulleted list">
                <a class="item" href="{{ path('privacy') }}" title="Conditions Générales d'utilisation">Conditions Générales d'utilisation</a>
                <a class="item" href="{{ path('contact') }}" title="Contact">Contact</a>
                <a class="item" href="https://www.Facebook.com/ngpictures23"  target="_blank" title="facebook">
                    <i class="icon icon-facebook-rect"></i>
                </a>
                <a class="item" href="https://www.instagram.com/ngpictures_23"  target="_blank" title="instagram">
                    <i class="icon icon-instagram"></i>
                </a>
            </div>
        </section>
    </div>
    <div class="footer-copyright black">
        <div class="container row">
            <span class="right">Copyrights &copy; {{ 'now'|date('Y') }}</span>
            <span>
                With <i class="icon icon-heart red-txt"></i> by <a href="http://bernard-ng.github.io" target="_blank">bernard-ng</a>
            </span>
        </div>
    </div>
</footer>
