<header>
    <div class="navbar-fixed">
        <nav class="shadow-4 transparent" data-action="menu">
            <div class="nav-wrapper container" id="menu">
                <a href="{{ path('home') }}" class="brand-logo">
                    <img src="{{ cacheBusting('/imgs/logo-white.png') }}" alt="logo">
                </a>
                <a href="{{ path('search') }}" class="action right">
                    <i class="icon icon icon-search"></i>
                </a>
                <a href="#" data-activates="mobile-menu" class="button-collapse left">
                    <i class="icon icon icon-menu"></i>
                </a>
                <span id="menu-item-active" data-active="{{ page.getActivePage }}"></span>
                <ul class="right hide-on-med-and-down links">
                    <li class="search" style="margin-right: 10px">
                        <div class="search">
                            <form action="{{ path('search') }}" method="get" class="ui icon input">
                                <div class="input-field">
                                    <i class="icon icon-search prefix"></i>
                                    <input name="q" type="text" placeholder="Recherches..." required>
                                </div>
                            </form>
                        </div>
                    </li>

                    {% if currentUser.role == 'admin' %}
                        <li><a href="{{ constant('ADMIN') }}"> <i class="icon icon-code"></i></a></li>
                    {% endif %}

                    <li id="Galerie" class="waves-effect">
                        <a href="{{ path('posts') }}"> Galerie</a>
                    </li>
                    <li id="explorer" class="waves-effect">
                        <a href="#" class="services-slideNav" data-activates="services-actions">
                            Explorer
                        </a>
                    </li>

                    {% if currentUser %}
                        <li class="user-actions">
                            <a href="#" class="user-actions-sideNav show-profile show-on-large"
                               data-activates="user-actions">
                                <img src="{{ currentUser.getAvatar() }}" class="user" width="50" height="50">
                            </a>
                        </li>
                    {% else %}
                        <li class="action">
                            <a href="{{ path('auth.register') }}" class="btn">
                                Inscription <span class="icon icon-user-plus"></span>
                            </a>
                        </li>
                        <li class="action">
                            <a href="{{ path('auth.login') }}" class="btn">
                                Connexion <span class="icon icon-login"></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <ul class="side-nav" id="user-actions">
        {% if currentUser %}
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="{{ cacheBusting('/imgs/bgjumbo.jpg') }}" alt="background">
                    </div>
                    <a href="{{ path('users.profile', {slug: currentUser.slug}) }}">
                        <img src="{{ currentUser.getAvatar() }}" alt="profile picture" class="circle">
                    </a>
                    <span class="white-txt name">{{ currentUser.name }}</span>
                    <span class="email">{{ currentUser.email }}</span>
                </div>
            </li>
            <li><a href="{{ path('users.profile', {slug: currentUser.slug}) }}">Profile <i class="icon icon-user"></i></a></li>
            <li><a href="{{ path('users.settings', {slug: currentUser.slug}) }}">Paramètres <i class="icon icon-cog-alt"></i></a></li>
            <li>
                <a href="{{ path('users.notifications', {slug: currentUser.slug}) }}">
                    Notifications <i class="icon icon-bell"></i>
                    <span class="right">{{ notificationsCount }}&nbsp;</span>
                </a>
            </li>
            <li>
                <form action="{{ path('auth.logout') }}" method="post" style="display: inline">
                    {{ csrf() }}
                    <button type="submit" class="btn btn-flat btn-large">Déconnexion <i class="icon icon-off"></i></button>
                </form>
            </li>
        {% endif %}
    </ul>
    <ul class="side-nav" id="services-actions">
        <li><a href="{{ path('community') }}">La Communauté <i class="icon icon-users"></i></a></li>
        <li><a href="{{ path('collections') }}">Collections <i class="icon icon-picture"></i></a></li>
        <li><a href="{{ path('categories') }}">Catégories<i class="icon icon-tags"></i></a></li>
        <li class="divider"></li>
        <li><a href="{{ path('contact') }}">Nous contacter <i class="icon icon-mail"></i></a></li>
        <li><a href="{{ path('privacy') }}">Politique d'utilisation <i class="icon icon-camera"></i></a></li>
    </ul>
</header>
