<span id="menu-mobile-item-active" data-active="{{ page.getActivePage }}"></span>
<ul class="side-nav mobile-links" id="mobile-menu">
    {% if currentUser %}
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{{ cacheBusting('/imgs/bgjumbo.jpg') }}" alt="bg">
                </div>
                <a href="{{ path('users.profile', {slug: currentUser.slug })}}">
                    <img src="{{ currentUser.getAvatar() }}" alt="profile" class="circle">
                </a>
                <span class="white-txt name">{{ currentUser.name }}</span>
                <span class="email">{{ currentUser.email }}</span>
            </div>
        </li>
    {% else %}
        <li class="logo" style="margin: 20px 20px 30px 20px;">
            <a href="{{ path('home') }}" class="brand-logo" id="logo-container">
                <img src="{{ cacheBusting("/imgs/logo-white.png") }}" alt="logo" width="100%" height="auto">
            </a>
        </li>
        <div class="user-action">
            <li>
                <a href="{{ path('auth.register') }}" class="btn waves-effect">Inscription <span class="icon icon-user-plus"></span></a>
                <a href="{{ path('auth.login') }}" class="btn waves-effect">Connexion <span class="icon icon-login"></span></a>
            </li>
        </div>
    {% endif %}

    <li id="galerie"><a href="{{ path('posts') }}">Galerie <i class="icon icon-picture"></i></a></li>
    <li><div class="divider"></div></li>
    <li><a href="{{ path('community') }}">La Communauté <i class="icon icon-users"></i></a></li>
    <li><a href="{{ path('collections') }}">Collections <i class="icon icon-picture"></i></a></li>
    <li><a href="{{ path('categories') }}">Catégories<i class="icon icon-tags"></i></a></li>
    <li class="divider"></li>
    <li><a href="{{ path('contact') }}">Nous contacter <i class="icon icon-mail"></i></a></li>
    <li><a href="{{ path('privacy') }}">Politique d'utilisation <i class="icon icon-camera"></i></a></li>
</ul>
