<span id="menu-mobile-item-active" data-active="{{ pageManager.getActivePage }}"></span>
<ul class="side-nav mobile-links" id="mobile-menu">
    {% if activeUser %}
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{{ cacheBusting('/imgs/bgjumbo.jpg') }}" alt="bg">
                </div>
                <a href="{{ activeUser.accountUrl }}">
                    <img src="{{ activeUser.avatarUrl }}" alt="bg2" class="circle">
                </a>
                <span class="white-txt name">{{ activeUser.name }}</span>
                <span class="email">{{ activeUser.email }}</span>
            </div>
        </li>
    {% else %}
        <li class="logo" style="margin: 20px 20px 30px 20px;">
            <a href="/" class="brand-logo" id="logo-container">
                <img src="/imgs/logo-white.png" alt="" width="100%" height="auto">
            </a>
        </li>
    {% endif %}

    {% if not activeUser %}
        <div class="user-action">
            <li>
                <a href="/sign" class="btn waves-effect">Inscription</a>
                <a href="/login" class="btn waves-effect">Connexion</a>
            </li>
        </div>
    {% endif %}
    <li><a href="" class="subheader grey-txt">Activités</a></li>
    {% if activeUser %}
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect">Mon compte<i class="icon icon-angle-down"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{ activeUser.accountUrl }}">Profile <i class="icon icon-user"></i></a></li>
                            <li><a href="{{ activeUser.editUrl }}">Paramètres <i class="icon icon-cog-alt"></i></a></li>
                            <li>
                                <a href="{{ activeUser.notificationsUrl}}">
                                    Notifications <i class="icon icon-bell"></i>
                                    <span class="right">{{ notificationsNumber }}&nbsp;</span>
                                </a>
                            </li>
                            <li><a href="/logout">Déconnexion <i class="icon icon-off"></i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
   {% endif %}
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect">Services<i class="icon icon-angle-down"></i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/maps/photographers">Trouver des photographes <i class="icon icon-location"></i></a></li>
                        <li><a href="/photographers/sign">Compte photographe <i class="icon icon-camera"></i></a></li>
                        <li><a href="/booking">Réservations <i class="icon icon-calendar"></i></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect">Autres<i class="icon icon-angle-down"></i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/categories">Catégories<i class="icon icon-tags"></i></a></li>
                        {% if activeUser %}
                            <li><a href="/community">La Communauté <i class="icon icon-users"></i></a></li>
                        {% endif %}
                        <li><a href="/contact">Nous contacter <i class="icon icon-mail"></i></a></li>
                        <li><a href="/bugs">Signaler un problème<i class="icon icon- icon-attention"></i></a></li>
                        <li><a href="/ideas">Donner un avis<i class="icon icon-attention"></i></a></li>
                        <li><a href="/privacy">Politique d'utilisation <i class="icon icon-book"></i></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><div class="divider grey"></div></li>
    <li><a href="" class="subheader grey-txt">Menu</a></li>

    {% if activeUser.rank == 'admin' %}
        <li><a href="{{ ADMIN }}">Administration <i class="icon icon-code right"></i></a></li>
    {% endif %}

    <li id="Ngpictures"><a href="/">Accueil <i class="icon icon-home"></i></a></li>
    <li id="Blog"><a href="/blog">Blog <i class="icon icon-quote-left"></i></a></li>
    <li id="Galerie"><a href="/gallery">Galerie <i class="icon icon-picture"></i></a></li>
    {% if activeUser %}
        <li id="Fil d'actualité"><a href="/posts">Actualités <i class="icon icon-globe"></i></a></li>
    {% endif %}
</ul>
