{% extends 'layout/default.twig' %}

{% block content %}
    <section class="section row container animated slideInUp">
        <span class="row col l12 s12 m12">
            <h2 class="ui header"> Dernières photos</h2>
        </span>
        {% for a in last %}
            <div class="row nexted col s12 m3 l3">
                <article class="card post-titled grey dark-4">
                    <div class="card-image waves-effect">
                        <a href="{{ a.url }}">
                            <img src="{{ a.smallThumbUrl }}" alt="{{ a.name }}" title="{{ a.name }}">
                        </a>
                    </div>
                    {% if a.title or a.name %}
                        <span class="post-description truncate">
                            {{ a.title ?? a.name }}
                        </span>
                    {% endif %}
                </article>
            </div>
        {% endfor %}
    </section>
    <section class="jumbotron dark col l12 s12 m12">
        <div class="container row">
            {% include 'includes/right-aside.twig' %}
            <div class="row col l6 s12 m12 animated slideInLeft">
                <h2 class="ui header">Nos photos</h2>
                <div class="">
                    <p>
                        l'ombre et la lumière surgissent de presque nul part,
                        évanescentes elles apparaissent et disparaissent au gré du temps,
                        elles sont par définition insaisissables et impalpables.
                        seule la prise de vue photographique permet de monter la magie de cette dualité fraternelle.
                        En effet l’ombre et la lumière sont les deux faces déterminantes de la photographie,
                        souvent elles se font un face à face perpétuel dans des compositions surprenantes.
                        Elles ne sont jamais neutres. Ainsi elle peuvent être une forme autonome se superposant à une réalité déjà présente.
                        Nos photos sont l'expression même de l'ombre sinueuse d'une personne.
                    </p>
                </div>
                {% if article %}
                    <div class="post-hoverable">
                        <a href="{{ article.url }}" class="waves-effect">
                            <img src="{{ article.thumbUrl }}" alt="{{ article.title }}">
                        </a>
                        <span class="post-description">
                            {{ article.title }}
                        </span>
                    </div>
                {% else %}
                    <img src="/imgs/shooting.jpeg" class="responsive-img" alt="ngpictures shooting banner">
                {% endif %}
            </div>
            {% include "includes/menu-aside.twig" %}
        </div>
    </section>
    <section class="jumbotron parallax-container col l12 s12 m12" style="margin-top: -20px; margin-bottom: 30px;">
        <div class="row container">
            <div class="col l12 m12 s12 row">
                <div class="col l4 m4 s12 center-align pb10">
                    <span class="stats-value">
                        <i class="icon icon-location"></i>
                    </span>
                    <span class="stats-label">Trouver des photographes</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis voluptatum commodi, inventore
                        sint debitis, aut veniam corrupti necessitatibus at placeat tenetur dolor error reprehenderit illo voluptatem
                        laboriosam, officiis ea.</p>
                </div>
                <div class="col l4 m4 s12 center-align pb10">
                    <span class="stats-value">
                        <i class="icon icon-camera"></i>
                    </span>
                    <span class="stats-label">Shooting professionnel</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt, dicta expedita totam adipisci rem
                        amet dolorum excepturi tempora, molestiae repudiandae enim consectetur. Nam laudantium facere voluptatum
                        rem quam aspernatur?</p>
                </div>
                <div class="col l4 m4 s12 center-align pb10">
                    <span class="stats-value">
                        <i class="icon icon-heart"></i>
                    </span>
                    <span class="stats-label">Publier vos Photos</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum provident ea voluptatibus a facilis, alias ratione
                        vitae molestiae quam earum perspiciatis eius, quidem modi quae eos harum doloribus, iste quod.</p>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="/imgs/outils.jpeg" alt="{{ article.title}}" title="{{ article.title}}" class="bw">
        </div>
    </section>
    <section class="section col l12 m12 s12">
        <div class="row container">
        <span class="row col l12 s12 m12">
            <h2 class="ui header">Notre équipe</h2>
        </span>
            <div class="ui divided items col l6 m6 s12 animated slideInLeft">
                <div class="item">
                    <div class="image">
                        <img src="{{ cacheBusting('/imgs/team/bernard.jpg') }}">
                    </div>
                    <div class="content">
                        <a href="http://ngpictures.pe.hu" target="_blank" class="header">Bernard Ngandu</a>
                        <div class="meta">Fondateur - Photographe</div>
                        <div class="description">
                            <p>
                                J'ai toujours voulu partager ma passion pour la photographie avec le reste du monde,
                                voilà qu'aujourd'hui cela est possible grâce à #ngpictures,
                                je me suis intéressé à la photographie car elle m'a permis de m'exprimer sans l'usage des mots.
                                ansi #ngpictures est notre moyen d'expression à tous.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divided items col l6 m6 s12 animated slideInRight">
                <div class="item">
                    <div class="image">
                        <img src="{{ cacheBusting('/imgs/team/gael.jpg') }}">
                    </div>
                    <div class="content">
                        <a class="header">Gaël Balo</a>
                        <div class="meta">Markerting - Photographe</div>
                        <div class="description">
                            <p>
                                Depuis un temps j'ai eu des initiatives diverses pour faire la différence avec les autres. Et #ngpictures est tombé à pique,
                                voilà pourquoi je me suis facilement rallié à la vision de #ngpictures et être ainsi son directeur de marketing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="jumbotron parallax-container col l12 s12 m12">
        <div class="row container">
            <div class="col l4 m12 s12">
                <h2 class="ui header">Nous Rétrouver</h2>
                <address style="font-style: normal !important;" class="grey-txt">
                    République Démocratique du Congo<br>
                    Province du Haut-Katanga, Ville de Lubumbashi<br>
                    Commune Lubumbashi, Quartier Kalubwe<br>
                    Avenue Lackipopo, numéro 10465<br>
                </address>
                <ul>
                    <a href="https://www.Facebook.com/ngpictures23" target="_blank">
                        <i class="icon icon-facebook-rect"></i></a>
                    <a class="white-text page-footer-text" href="https://www.instagram.com/ngpictures_23" target="_blank">
                        <i class="icon icon-instagram"></i></a>

                    <a class="white-text page-footer-text" href="https://www.pexels.com/ngpictures_23" target="_blank">
                        <i class="icon icon-instagram-filled"></i></a>

                    <a href="https://www.github.com/bernard-ng" target="_blank">
                        <i class="icon icon-github"></i>
                    </a>

                    <a href="https://www.twitter.com/bernardngandu">
                        <i class="icon  icon-twitter-bird"></i>
                    </a>
                </ul>
                <p>
                    <a href="/contact" class="btn btn-flat blue-grey action waves-effect">Nous Contacter</a>
                </p>
            </div>
            <div class="col l8 m12 s12 goole-maps">
                <iframe class="hoverable" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.669795348674!
                2d27.466621714359682!3d-11.646862391734508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!
                4f13.1!3m3!1m2!1s0x1972394d26719141%3A0xa8515a298fe31a63!2sAvenue+du+lac+Kipopo%2C+Lubumbashi!5e0!3m2!1sfr!2scd!4v1517072954604"
                        width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="parallax">
            <img src="/imgs/outils.jpeg" alt="{{ article.title}}" title="{{ article.title}}" class="bw">
        </div>
    </section>
{% endblock %}
