{% extends "layout/default.twig" %}

{% block content %}
    <section class="row container animated slideInLeft">
        <span class="row col l12 s12 m12">
            <h2 class="ui header"> Notre Histoire</h2>
            <p>
            Avez-vous déjà fait une recherche sur internet à propos de la RDC dans la section image ? c'est triste, les résultats d'images ne reflecte pas
            la beauté de notre pays, voir même de l'afrique, vous verrez des photos qui montre une souffrance interminable, la misère, les guerres.
            alors un jour, entre amis nous avons décidés de changer, cette vue, cette idée que les autres se font de nous, nous avons décidés de valoriser notre image,
            et le moyen pour le faire était la photographie, nous avions commencés à prendre des photos et les partager sur les résaux sociaux, mais cela ne suffisait pas.
            Nous avons donc opter pour une nouvelle solution, notre propre résau social. Le 23 Juillet 2017, ngpictures a fait son apparution, notre objectif était atteint
            les résultats d'image sur la RDC changaient, et continu de changer avec cette nouvelle version...
            </p>
            <p>
                l'ombre et la lumière surgissent de presque nul part,
                évanescentes elles apparaissent et disparaissent au gré du temps,
                elles sont par définition insaisissables et impalpables.
                seule la prise de vue photographique permet de monter la magie de cette dualité fraternelle.
                En effet l’ombre et la lumière sont les deux faces déterminantes de la photographie,
                souvent elles se font un face à face perpétuel dans des compositions surprenantes.
                Elles ne sont jamais neutres. Ainsi elle peuvent être une forme autonome se superposant à une réalité déjà présente.
                Nos photos sont l'expression même de l'ombre sinueuse d'une personne.
            </p>
        </span>
    </section>
    <section class="section jumbotron dark">
        <div class="row container">
            <span class="row col l12 s12 m12">
                <h2 class="ui header"> Notre Equipe</h2>
            </span>
            <div class="carousel small">
                <img src="{{ cacheBusting('/imgs/sblank.png') }}" data-src="{{ cacheBusting('/imgs/team/bernard.jpg') }}" title="bernard ng" alt="bernard ng" class="carousel-item">
                <img src="{{ cacheBusting('/imgs/sblank.png') }}" data-src="{{ cacheBusting('/imgs/team/gael.jpg') }}" title="gael balo" alt="gael balo" class="carousel-item">
                <img src="{{ cacheBusting('/imgs/sblank.png') }}" data-src="{{ cacheBusting('/imgs/team/grey.jpg')}}" title="gretta mpunga" alt="gretta mpunga" class="carousel-item">
                <img src="{{ cacheBusting('/imgs/sblank.png') }}" data-src="{{ cacheBusting('/imgs/team/prisca.jpg') }}" title="prisca felo" alt="prisca felo" class="carousel-item">
                <img src="{{ cacheBusting('/imgs/sblank.png') }}" data-src="{{ cacheBusting('/imgs/team/balloy.jpg') }}" title="balloy fane" alt="balloy fane" class="carousel-item">
            </div>
    </section>
    {% include 'includes/services.twig' %}
{% endblock %}
