{% extends 'layout/users/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
<div class="row col l4 m4 s12">
    <div class="card-panel hoverable" id="loginBox">
        <h2 class="ui header">Signaler la publication</h2>
        <p>
            Veuillez nous dire ce qui ne va pas avec cette publication
        </p>
        <div class="row">
            <img
                src="{{ cacheBusting('/imgs/blank.png') }}"
                data-src="{{ post.thumbUrl }}"
                class="responsive"
                alt="{{ post.title ?: post.name }}"
                title="{{ post.title ?: post.name }}"
                width="100%" height="auto"
            >
        </div>
        <form method="POST" action="" data-action="report">
            {{ form.textarea('report', 'Votre signalement...', errors.get('report'), post.get('report')) }}
            <button type="submit" class="btn btn-flat waves-effect">Envoyer</button>
        </form>
    </div>
</div>
{% endblock %}
