{% for p in posts %}
    <div class="col l4 m4 s12 nexted" id="{{ p.id }}">
        <article class="news-card animated slideInUp" id="{{ p.id }}">
            <header class="news-card-header">
                <span class="news-card-image-profil">
                    <img src="{{ p.userAvatarUrl }}" class="materialboxed" alt="photo de profile" title="{{ p.username }}">
                </span>
                <p class="news-card-header-title">
                    <a href="{{ p.userAccountUrl }}">{{ p.Username }} </a>
                </p>

                {% if p.thumb %}
                    <a data-action="download" href="{{ p.downloadUrl }}" class="news-card-header-icon">
                        <span>{{ p.downloads }}</span>&nbsp
                        <i class="icon icon-download"></i>
                    </a>
                    <a data-action="save" href="{{ p.saveUrl }}" class="news-card-header-icon" data-tooltip="Enregister">
                        {% if p.isSaved %}
                            <i class="icon icon-bookmark blue-txt"></i>
                        {% else %}
                            <i class="icon icon-bookmark-empty"></i>
                        {% endif %}
                    </a>
                    <a href="#" class="dropdown-button news-card-header-icon" data-activates="options-list-{{ p.id }}">
                        <i class="icon icon-down-open"></i>
                    </a>
                    <ul id="options-list-{{ p.id }}" class="dropdown-content grey dark-4">
                        <li>
                            <a href="{{ p.categoryUrl }}">
                                <i class="icon icon-tag"></i>
                                Catégories
                            </a>
                        </li>
                        {% if p.location %}
                            <li>
                                <a data-action="location" href="{{ p.locationUrl }}" class="news-card-header-icon">
                                    <i class="icon icon-location"></i>
                                    Localisation
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a data-action="report" class="news-card-header-icon" href="{{ p.reportUrl }}">
                                <i class="icon icon-attention"></i>
                                Signaler
                            </a>
                        </li>
                        {% if p.users_id == activeUser.id %}
                            <li>
                                <a data-action="edit" class="news-card-header-icon modal-trigger" href="{{ p.editUrl }}">
                                    <i class="icon icon-plus-circled"></i>
                                    Editer
                                </a>
                            </li>
                            <li>
                                <a data-action="delete" class="news-card-header-icon modal-trigger" href="{{ p.deleteUrl }}">
                                    <i class="icon icon-cancel"></i>
                                    Supprimer
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </header>
            {% if p.thumb %}
                <div class="card-image">
                <span class="news-card-image-article">
                    <a href="{{ p.url }}" class="waves-effect" style="background-color: {{ p.color }}; width: 100%; min-height: 100px;">
                        <img src=""  data-src="{{ p.smallThumbUrl }}" alt="Image de l'article" title="{{ p.title }}">
                    </a>
                </span>
                </div>
            {% endif %}
            <main class="news-card-content">
                <section id="articleInfo">
                    <div class="news-card-stat">
                        <i class="icon icon-calendar"></i>
                        <time data-time="{{ p.date_created | date('U') }}">{{ p.time }}</time>
                    </div>
                    <div class="news-card-stat">
                        <i class="icon icon-thumbs-up"></i>
                        <small>
                            <a data-action="showLikes" href="{{ p.LikersUrl }}">{{ p.likes }}</a>
                        </small>
                    </div>
                </section>
            </main>
            <footer class="news-card-footer" id="articleOptions">
                <a data-action="like" class="news-card-footer-item {{ p.isLike }}" href="{{ p.likeUrl }}">
                    {% if p.isLike == 'active' %}
                        <i class="icon icon-heart red-txt"></i>&nbsp {% else %}
                        <i class="icon icon-heart-empty"></i>&nbsp {% endif %}
                </a>
                <a class="news-card-footer-item modal-trigger" href="#cmtAdd-{{ p.id }}" data-action="showComment">
                    {% if p.commentsNumber > 0 %}
                        <i class="icon icon-comment"></i>&nbsp {% else %}
                        <i class="icon icon-comment-empty"></i>&nbsp {% endif %}
                    <span>{{ p.commentsNumber }}</span>
                </a>
                <a data-action="share" class="news-card-footer-item modal-trigger" href="#share-{{ p.id }}">
                    <i class="icon icon-share"></i>
                </a>
            </footer>
            <div id="cmtAdd-{{ p.id }}" class="modal grey dark-4 bottom-sheet">
                <div class="modal-content">
                    <form action="{{ p.commentUrl }}" method="POST" data-action="comment">
                        <div class="input-field">
                            <label for="comment">Commentaire</label>
                            <textarea class="materialize-textarea" name="comment" id="comment" data-length="255"></textarea>
                        </div>
                        <div class="modal-footer transparent comment">
                            <button type="submit" class="modal-action btn waves-effect">Envoyer</button>
                            <button id="cmtAdd-{{ p.id }}" type="reset" class="btn btn-small transparent waves-effect modal-action modal-close">
                                Annuler
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="share-{{ p.id }}" class="modal grey dark-4 bottom-sheet">
                <div class="modal-content">
                    <div class="col l12 m12 s12">
                        <div class="col l3 m3 s3">
                            <button class="btn btn-flat waves-effect hoverable" style="background: #4c67a1" data-action="share-facebook" data-url="{{ p.url }}">
                                <i class="icon icon-facebook"></i>
                            </button>
                        </div>
                        <div class="col l3 m3 s3">
                            <button class="btn btn-flat waves-effect hoverable" style="background: #55acee" data-action="share-twitter" data-url="{{ p.url }}">
                                <i class="icon icon-twitter"></i>
                            </button>
                        </div>
                        <div class="col l3 m3 s3">
                            <button class="btn btn-flat waves-effect hoverable" style="background: #d23f31" data-action="share-google-plus" data-url="{{ p.url }}">
                                <i class="icon icon-googleplus-rect"></i>
                            </button>
                        </div>
                        <div class="col l3 m3 s3">
                            <button class="btn btn-flat waves-effect hoverable" style="background: #11a84d" data-action="share-whatsapp" data-url="{{ p.url }}">
                                <i class="icon icon-whatsapp"></i>
                            </button>
                        </div>
                        <div class="modal-footer col s12 grey dark-4" style="margin-top: 10px">
                            <button class="btn transparent shadow-0 modal-action modal-close">
                                Annuler
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endfor %}