{% extends 'layout/users/account.twig' %}

{% block content %}
    <div class="jumbotron-user" style="background: url('/imgs/outils.jpeg')">
        <div class="jumbotron-user-profil align-center">
            <div class="jumbotron-user-avatar hoverable">
                <img src="{{ user.avatarUrl}}" alt="{{ user.name }}">
            </div>
            <div class="jumbotron-user-name center">
                <h1 class="ui header">{{ user.name }}</h1>
            </div>
        </div>
    </div>

    <div class>
        <div class="row col s12">
            <ul class="tabs transparent shadow-3">
                <li class="tab col s4"><a href="#about">A propos</a></li>
                <li class="tab col s4"><a href="#photos" class="active">Photos</a></li>
                <li class="tab col s4"><a href="#collection">Collections</a></li>
            </ul>
        </div>
    </div>

    <section class="section" id='about'>
        <div class="row container">
            <span class="col l12 s12 m12">
                <h2 class="ui header">Bio</h2>
            </span>
            <p class="col l12 s12 m12">
                {{ user.bio | nl2br }}
            </p>
        </div>

        {% if user.rank == 'photographer' %}
            <div class="row container">
                <span class="col l12 s12 m12">
                    <h2 class="ui header">Contacts</h2>
                </span>
                <p class="col l12 s12 m12">
                    <ol>
                        <li><i class="icon icon-mail"></i>&nbsp; Email :  {{ user.email }}</li>
                        <li><i class="icon icon-user"></i>&nbsp; Mobile : {{ user.phone }}</li>
                        <li><i class="icon icon-location"></i>&nbsp; Location : <a href="{{ user.location}}">voir</a> </li>
                    </ol>
                </p>
            </div>
        {% endif %}

        <div class="row container">
            <span class="col l12 s12 m12">
                <h2 class="ui header">Infos</h2>
            </span>
            <p class="col l12 s12 m12">
                {{ user.name }} est membre de ngpictures depuis le {{ user.confirmed_at | date('d  M Y') }},
                a publié [user.posts] photos
                , suivi par [user.followers] personnes. <br>
                abonné à [user.followings] personnes, a aimé [user.likedPostNumber], posté [user.commentsPostNumber] commentaires.
            </p>
        </div>
    </section>

    <div id="photos">
        {% if posts %}
            <section class="section jumbotron dark">
                <div class="row container pb10">
                    <span class="col l12 s12 m12">
                        <h2 class="ui header">Photos récentes</h2>
                    </span>
                    <div class="carousel small">
                        {% for p in posts %}
                            <a href="{{ p.url }}" class="carousel-item">
                                <img src="{{ p.smallThumbUrl }}" title="{{ p.name }}" alt="{{ p.name }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {% if posts %}
            <section class="section">
                <div class="row container">
                    <span class="col l12 s12 m12">
                        <h2 class="ui header">Toutes les photos</h2>
                    </span>
                </div>
                <div class="row container">
                    <div class="gallery gallery-container">
                        {% for p in posts %}
                            <article class="gallery-item" id="{{ p.id }}">
                                <a href="{{ p.url }}">
                                    <img src="{{ p.smallThumbUrl }}" class="responsive-img" title="{{ p.name }}" alt="{{ p.name }}">
                                </a>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% else %}
            <div class="section jumbotron dark row center-align">
                <h2 class="icon icon-inbox red-txt center-align"></h2>
                <span class="col l12 s12 m12">
                    <h2 class="ui header divided center"> Aucune publication pour l'instant</h2>
                </span>
                <p class="col l8 offset-l2 s12 m12">
                    {{ user.name }} ne présente actuellement aucune publication disponible, les publications sont peut être en évaluation ou privées,
                    ceci pourrait prendre du temps, veuillez revenir plus tard
                </p>
            </div>
        {% endif %}
    </div>

    <div id="collection">
          {% if collection %}
            <section class="section">
                <div class="row container">
                    <span class="col l12 s12 m12">
                        <h2 class="ui header">la Collection</h2>
                    </span>
                </div>
                <div class="row container">
                    {% for p in collection.blog  %}
                        <div class="row nexted col s12 m3 l3">
                            <article class="card post-titled grey dark-4">
                                <div class="card-image waves-effect">
                                    <a href="{{ p.url }}">
                                        <img src="{{ p.smallThumbUrl }}" alt="{{ p.title }}" title="{{ p.title }}">
                                    </a>
                                </div>
                                {% if p.title %}
                                    <span class="post-description truncate">
                                        {{ p.title }}
                                    </span>
                                {% endif %}
                            </article>
                        </div>
                    {% endfor %}
                    {% for p in collection.gallery  %}
                        <div class="row nexted col s12 m3 l3">
                            <article class="card post-titled grey dark-4">
                                <div class="card-image waves-effect">
                                    <a href="{{ p.url }}">
                                        <img src="{{ p.smallThumbUrl }}" alt="{{ p.title }}" title="{{ p.title }}">
                                    </a>
                                </div>
                                {% if p.title %}
                                    <span class="post-description truncate">
                                        {{ p.title }}
                                    </span>
                                {% endif %}
                            </article>
                        </div>
                    {% endfor %}
                    {% for p in collection.posts  %}
                        <div class="row nexted col s12 m3 l3">
                            <article class="card post-titled grey dark-4">
                                <div class="card-image waves-effect">
                                    <a href="{{ p.url }}">
                                        <img src="{{ p.smallThumbUrl }}" alt="{{ p.title }}" title="{{ p.title }}">
                                    </a>
                                </div>
                                {% if p.title %}
                                    <span class="post-description truncate">
                                        {{ p.title }}
                                    </span>
                                {% endif %}
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% else %}
            <div class="section jumbotron dark row center-align">
                <h2 class="icon icon-inbox red-txt center-align"></h2>
                <span class="col l12 s12 m12">
                    <h2 class="ui header divided center"> Aucune photo enregistrée</h2>
                </span>
                <p class="col l8 offset-l2 s12 m12">
                    {{ user.name }} ne présente actuellement aucune publication enregistrée disponible, les publications sont peut être en évaluation ou privées,
                    ceci pourrait prendre du temps, veuillez revenir plus tard
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
