{% extends 'layout/users/account.twig' %}

{% block content %}
<div class="jumbotron-user" style="background: url('/imgs/outils.jpeg')">
    <div class="jumbotron-user-profil align-center">
        <div class="jumbotron-user-avatar hoverable">
            <img src="{{ user.avatarUrl}}" alt="{{ user.name }}">
        </div>
        <div class="jumbotron-user-name center">
            <h1 class="ui header">{{ user.name }}</h1>
        </div>
    </div>
</div>

<div class>
    <div class="row col s12">
        <ul class="tabs transparent shadow-3">
           <div class="container">
                <li class="tab col s6">
                    <a href="#collection" class="active">Collections</a>
                </li>
                <li class="tab col s6">
                    <a href="{{ activeUser.accountUrl }}" target="_self">Photos</a>
                </li>
           </div>
        </ul>
    </div>
</div>

<div id="collection">
    {% if collection.blog or collection.gallery or collection.posts %}
        <section class="section">
            <div class="row container">
                {% for p in collection.blog %}
                <div class="row nexted col s12 m3 l3">
                    <article class="card post-titled grey dark-4">
                        <div class="card-image waves-effect">
                            <a href="{{ p.url }}">
                                <img src="{{ p.smallThumbUrl }}" alt="{{ p.title }}" title="{{ p.title }}">
                            </a>
                        </div>
                        {% if p.title %}
                        <span class="post-description truncate">
                            {{ p.title }}
                        </span>
                        {% endif %}
                    </article>
                </div>
                {% endfor %} {% for p in collection.gallery %}
                <div class="row nexted col s12 m3 l3">
                    <article class="card post-titled grey dark-4">
                        <div class="card-image waves-effect">
                            <a href="{{ p.url }}">
                                <img src="{{ p.smallThumbUrl }}" alt="{{ p.title }}" title="{{ p.title }}">
                            </a>
                        </div>
                        {% if p.title %}
                        <span class="post-description truncate">
                            {{ p.title }}
                        </span>
                        {% endif %}
                    </article>
                </div>
                {% endfor %} {% for p in collection.posts %}
                <div class="row nexted col s12 m3 l3">
                    <article class="card post-titled grey dark-4">
                        <div class="card-image waves-effect">
                            <a href="{{ p.url }}">
                                <img src="{{ p.smallThumbUrl }}" alt="{{ p.title }}" title="{{ p.title }}">
                            </a>
                        </div>
                        {% if p.title %}
                        <span class="post-description truncate">
                            {{ p.title }}
                        </span>
                        {% endif %}
                    </article>
                </div>
                {% endfor %}
            </div>
        </section>
    {% else %}
        <div class="section row center-align">
            <h2 class="icon icon-inbox red-txt center-align"></h2>
            <span class="col l12 s12 m12">
                <h2 class="ui header divided center"> Aucune photo enregistrée</h2>
            </span>
            <p class="col l8 offset-l2 s12 m12">
                {{ user.name }} ne présente actuellement aucune publication enregistrée disponible, les publications sont peut être en évaluation
                ou privées, ceci pourrait prendre du temps, veuillez revenir plus tard
            </p>
        </div>
    {% endif %}
</div>
{% endblock %}
