{% extends "layout/users/edit.twig" %}
{% import "includes/form.twig" as form %}

{% block content %}
    <section class="section container row">
        {% include "includes/right-aside.twig" %}
        <section class="col l6 m12 s12">
            <div class="card grey dark-4 col l12 m12 s12">
                <form action="" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Photo de profile</legend>
                        {{ form.inputFile('Modifier le profile') }}
                    </fieldset>
                </form>
                <br>
                <form action="" method="POST">
                    <fieldset>
                        <legend>Informations</legend>
                        {{ form.input('name','Pseudo','text', errors.get('name'), user.name) }}
                        {{ form.input('phone','Mobile','tel', errors.get('phone'), user.phone) }}
                        {{ form.input('email', 'Email', 'email', errors.get('email'), user.email) }}
                        {{ form.textarea('bio', 'Bio', errors.get('bio'), user.bio) }}

                        <div class="row col s12">
                            <button type="submit" class="btn btn-flat waves-effect">confirmer</button>
                        </div>
                    </fieldset>
                </form>
                <br>
            </div>
        </section>
        {% include "includes/menu-aside.twig" %}
    </section>
{% endblock %}
