{% extends 'layout/posts/default.twig' %}

{% block content %}
    <div class="row col s12">
        <ul class="tabs transparent shadow-3">
            <div class="container">
                <li class="tab col s6" class="active"><a href="{{ activeUser.followersUrl }}" >Mes abonnés</a></li>
                <li class="tab col s6"><a href="{{ activeUser.followingsUrl }}" target="_self">Mes abonnements</a></li>
            </div>
        </ul>
    </div>
    <div class="container row">
        {% for f in followers %}
            <div class="row nexted col l3 m6 s12">
                <div class="card-user card transparent hovercard hoverable">
                    <div class="cardheader" style="background: url('{{ f.avatarUrl }}')"></div>
                    <div class="avatar">
                        <a href="{{ f.accountUrl }}">
                            <img alt="{{ f.title }}" title="{{ f.title }}" src="{{ f.avatarUrl }}">
                        </a>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a href="{{ f.accountUrl }}">{{ f.name }}</a>
                        </div>
                        <div class="desc truncate">{{ f.bio }}</div>
                        <div class="ui tiny horizontal divided list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">1,35k&nbsp;Posts</div>
                                </div>
                            </div>
                        </div>
                        {% if f.id != activeUser.id %}
                        <a href="{{ f.followingUrl }}" class="btn btn-flat" data-action="following">
                            {{ f.isFollowed ? "Se désabonner" : "S'abonner" }}
                        </a>
                        {% else %}
                            <button class="btn btn-flat disabled">
                                Se désabonner
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
