{% extends 'layout/admin/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
    <div class="section container row">
         <section class="section col l9 m12 s12">
            <h2 class="ui header">Photo Statiques</h2>
            <form action="" method="POST" class="card-panel col s12 grey dark-4" enctype="multipart/form-data">
                <input type="hidden" name="thumb-for" value="bgjumbo">
                {{ form.inputFile("bg-jumbotron") }}
            </form>
            <form action="" method="POST" class="card-panel col s12 grey dark-4" enctype="multipart/form-data">
                <input type="hidden" name="thumb-for" value="slider">
                {{ form.inputFile("slider-img") }}
            </form>
            <form action="" method="POST" class="card-panel col s12 grey dark-4" enctype="multipart/form-data">
                <input type="hidden" name="thumb-for" value="bguser">
                {{ form.inputFile("bg-user") }}
            </form>
        </section>
        {% for file in files %}
            {% if file.getBaseName != '.' and file.getBaseName != '..' and file.getExtension == 'html'%}
                <div class="col l3 m6 s12">
                    <div class="card grey dark-3 verse-panel">
                        <div class="card-content ng-contain">
                            <span class="card-title">{{ file.getBaseName }}</span></span>
                        </div>
                        <div class="card-action">
                            <a href="{{ constant('ADMIN') ~ "/pages/" ~ file.getBaseName }}">Editer</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
