{% extends 'layout/admin/default.twig' %}

{% block content %}
    <nav class="nav shadow-2">
        <div class="container">
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <a href="{{ constant('ADMIN')~" /blog/add"  }}" data-turbolinks="false">Article</a>
                    </li>
                    <li>
                        <a href="{{ constant('ADMIN')~" /gallery/add" }}" data-turbolinks="false">Photo</a>
                    </li>
                    <li>
                        <a href="{{ constant('ADMIN')~" /gallery/albums/add" }}" data-turbolinks="false">Albums</a>
                    </li>
                    <li>
                        <a href="{{ constant('ADMIN')~" /blog/categories/add" }}" data-turbolinks="false">Catégorie</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="row container">
        <section class="col s12 m12 l9">
            <div class="card-panel grey dark-4">
                <div class="section">
                    <a href="{{ constant('ADMIN') ~ "/blog/categories/add " }}" class="btn right">
                        <i class="icon icon-plus" style="font-size: smaller !important;"></i>
                    </a>

                    <span class="btn">Page : {{ currentPage }}/{{ totalPage }}</span>
                    <span class="btn">Total : {{ total }}</span>

                    <a href="{{ constant('ADMIN') ~ "/blog/categories?page=" ~ prevPage }}" class="btn">
                        <i class="icon icon-left-open"></i>
                    </a>
                    <a href="{{ constant('ADMIN') ~ " /blog/categories?page=" ~ nextPage }}" class="btn">
                        <i class="icon icon-right-open"></i>
                    </a>
                </div>

                <table class="card bordered grey dark-4">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>description</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in categories %}
                        <tr>
                            <td><b>{{ c.id }}</b></td>
                            <td><a href="{{ c.url }}">{{ c.title }}</a></td>
                            <td>...</td>
                            <td>
                                <form method="POST" action="{{ constant('ADMIN') ~ '/delete' }}" style="display: inline-block !important;">
                                    <input type="hidden" name="id" value="{{ c.id }}" >
                                    <input type="hidden" name="type" value="9" >
                                    <button type="submit" class="btn btn-small waves-effect waves-light red" id="delete">
                                        <i class="icon icon-cancel" style="font-size: smaller !important;"></i>
                                    </button>
                                </form>
                                <a href="{{ constant('ADMIN') ~ '/blog/categories/edit/' ~ c.id }}">
                                    <button class="btn btn-small waves-effect waves-light">
                                        <i class="icon icon-plus-circled" style="font-size: smaller !important;"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        {% include 'includes/menu-aside.twig' %}
    </section>
{% endblock %}
