{% extends 'layout/admin/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
    <section class="section container row">
        <section class="section col l9 m12 s12">
            <h2 class="ui header">Editer un Article</h2>
            <form action="" method="POST" class="card-panel grey dark-4" enctype="multipart/form-data" data-action="upload">

                {{ form.input('title','Titre', 'text', errors.get('title'), post.get('title') ?? article.title) }}
                <div class="col l6 m6 s12">
                    <input type="text" id="slug" name="slug" placeholder="slug" value="{{ post.get('slug') ?? article.slug | escape }}">
                </div>
                <div class="col l6 m6 s12">
                    <select name="category">
                        <option disabled="disabled" selected="selected">choisissez une catégorie</option>
                        {% for c in categories %}
                            <option value="{{ c.id }}">
                                <span class="grey-txt dark-4">{{ c.title }}</span></option>
                        {% endfor %}
                    </select>
                </div>
                {{ form.textarea('content', 'contenu', errors.get('content'), post.get('content') ?? article.content) }}

                <div class="submit-button">
                    <button type="submit" class="btn btn-flat waves-effect">Publier&nbsp;<i class="icon icon-send"></i>
                    </button>
                </div>
            </form>
        </section>
        {% include 'includes/menu-aside.twig' %}
    </section>
{% endblock %}
