{% extends 'layout/admin/default.twig' %}

{% block content %}
    <nav class="nav">
        <div class="nav-wrapper container">
            <ul>
                <li><a href="{{ constant('ADMIN') ~ "/file-browser/blog" }}">Photo blog</a></li>
                <li class="right"><a href="{{ constant('ADMIN') ~ "/blog/categories/"  }}">Catégories</a></li>
                <li class="right"><a href="{{ constant('ADMIN') ~ "/blog/categories/add" }}">Ajouter une Catégorie</a></li>
            </ul>
        </div>
    </nav>

    <section class="container row">
        <section class="col l12 m12 s12">
            <div class="card-panel grey dark-4" style="padding: 20px">
                <div class="section">
                    <a href="{{ constant('ADMIN') ~ "/blog/add" }}" class="btn right">
                        <i class="icon icon-plus" style="font-size: smaller !important;"></i>
                    </a>

                    <span class="btn">Page :  {{ currentPage }}/{{ totalPage }}</span>
                    <span class="btn">Total :  {{ total }}</span>

                    <a href="{{ constant('ADMIN') ~ "/blog?page=" ~ prevPage }}" class="btn">
                        <i class="icon icon-left-open"></i>
                    </a>
                    <a href="{{ constant('ADMIN') ~ "/blog?page=" ~ nextPage }}" class="btn">
                        <i class="icon icon-right-open"></i>
                    </a>
                </div>
                <table class="card grey dark-4 bordered">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>action</th>
                            <th>date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in posts %}
                        <tr>
                            <td>
                                <b>{{ a.id }}</b>
                            </td>
                            <td>
                                <a href="{{ a.url }}">{{ a.title }}</a>
                            </td>
                            <td>
                                <form method="POST" action="{{ constant('ADMIN') ~ '/delete' }}" style="display: inline-block !important;">
                                    <input type="hidden" name="id" value="{{ a.id }}">
                                    <input type="hidden" name="type" value="3">
                                    <button type="submit" class="btn waves-effect waves-light red" id="delete">
                                        <i class="icon icon-cancel" style="font-size: smaller !important;"></i>
                                    </button>
                                </form>

                                <a href="{{ constant('ADMIN') ~ '/blog/edit/' ~ a.id }}">
                                    <button class="btn waves-effect waves-light">
                                        <i class="icon icon-plus-circled" style="font-size: smaller !important;"></i>
                                    </button>
                                </a>
                                <a href="{{ constant('ADMIN') ~ '/confirm/3/' ~ a.id }}" id="confirm">
                                    <button class="btn btn-small blue-2 waves-effect waves-light">
                                        {% if a.online %}
                                            <i class="icon icon-download" style="font-size: smaller !important;"></i>
                                        {% else %}
                                            <i class="icon icon-upload" style="font-size: smaller !important;"></i>
                                        {% endif %}
                                    </button>
                                </a>
                                <a href="{{ constant('ADMIN') ~ a.watermarkUrl }}">
                                    <button class="btn blue waves-effect waves-light">
                                        <i class="icon icon-tag" style="font-size: smaller !important;"></i>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <time>{{ a.time }}</time>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>
                                <b>0</b>
                            </td>
                            <td>Aucun article pour l'instant</td>
                            <td>
                                <button type="submit" class="btn btn-small waves-effect waves-light disabled">
                                    <i class="icon icon-remove" style="font-size: smaller !important;"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
{% endblock %}
