{% extends 'layout/posts/default.twig' %}

{% block content %}
    <div class="row col s12">
        <ul class="tabs transparent shadow-3">
            <li class="container">
                <ul>
                    <li class="tab col s4"><a href="{{ path('collections') }}" target="_self">Collections</a></li>
                    <li class="tab col s4"><a href="{{ path('categories') }}" target="_self">Categories</a></li>
                    <li class="tab col s4"><a href="{{ path('posts') }}" target="_self">Photos</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <section class="section container row" id="collections">
       {% if collections %}
        <div class="col l12 m12 s12" id="dataContainer" data-ajax="collections">
            {% for c in collections %}
            <div class="col nexted s12 m3 l3" id="{{ c.id }}">
                <article class="card post-titled grey dark-4">
                    <div class="card-image waves-effect">
                        <a href="{{ path('collections.show',{id: c.id, slug: c.slug}) }}" title="{{ c.name }}">
                            {% for key, thumb in collectionsThumbs %}
                                {% if c.id == key %}
                                    <img src="" data-src="{{ thumb }}" alt="{{ c.name }}" title="{{ c.name }}" class="responsive-img">
                                {% endif %}
                            {% endfor %}
                        </a>
                    </div>
                    <div class="post-description">
                        <span class="truncate ui header">{{ c.name }}</span>
                        {{ collectionsCount[c.id] }} photo{{ collectionsCount[c.id] > 1 ? 's' : '' }}
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
        {% if collections %}
            <div class="row col s12">
                <div class="ng-progress-container">
                <div id="statusBar" class="mtb ng-progress-indeterminate disabled">
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            </div>
        {% endif %}
       {% else %}
         <div class="section center-align col l8 offset-l2 m12 s12">
            <h2 class="icon icon-picture red-txt center-align"></h2>
            <h2 class="ui header divided center"> Aucune Collection </h2>
            <p>
                le site ne présente actuellement aucune publication disponible, les publications sont peut être en évaluation,
                ceci pourrait prendre du temps, veuillez revenir plus tard
            </p>
        </div>
       {% endif %}
    </section>
{% endblock %}
