{% extends 'layout/admin/default.twig' %}

{% block content %}
<nav class="nav shadow-2">
    <div class="container">
        <div class="nav-wrapper">
            <ul>
                <li>
                    <a href="{{ constant('ADMIN')~"/blog/add "  }}" data-turbolinks="false">Article</a>
                </li>
                <li>
                    <a href="{{ constant('ADMIN')~"/gallery/add " }}" data-turbolinks="false">Photo</a>
                </li>
                <li>
                    <a href="{{ constant('ADMIN')~"/gallery/albums/add " }}" data-turbolinks="false">Albums</a>
                </li>
                <li>
                    <a href="{{ constant('ADMIN')~"/blog/categories/add " }}" data-turbolinks="false">Catégorie</a>
                </li>
                <li class="right">
                    <a href="{{ constant('ADMIN') ~ '/users/ideas' }}" data-turbolinks="false">Ideas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="row container">
    <section class="col s12 m12 l9">
        <div class="card-panel grey dark-4">
            <div class="section">
                <span class="btn">Page : {{ currentPage }}/{{ totalPage }}</span>
                <span class="btn">Total : {{ total }}</span>

                <a href="{{ constant('ADMIN') ~ "/users/bugs?page=" ~ prevPage }}" class="btn" data-turbolinks="false">
                    <i class="icon icon-left-open"></i>
                </a>
                <a href="{{ constant('ADMIN') ~ "/users/bugs?page=" ~ nextPage }}" class="btn" data-turbolinks="false">
                    <i class="icon icon-right-open"></i>
                </a>
            </div>

            <table class="card bordered grey dark-4">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>users_id</th>
                        <th>content</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in bugs %}
                    <tr>
                        <td><b>{{ b.id }}</b></td>
                        <td>{{ b.users_id }}</td>
                        <td>{{ b.content }}</td>
                        <td>
                            <form method="POST" action="{{ constant('ADMIN') ~ '/delete' }}" style="display: inline-block !important;">
                                <input type="hidden" name="id" value="{{ b.id }}">
                                <input type="hidden" name="type" value="7">
                                <button type="submit" class="btn btn-small waves-effect waves-light red" id="delete">
                                    <i class="icon icon-cancel" style="font-size: smaller !important;"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% include 'includes/menu-aside.twig' %}
</section>
{% endblock %}
