{% extends 'layout/show.twig' %} {% block content %}
<section class="section jumbotron dark" style="border-bottom: 5px solid {{ article.color }}; margin-bottom: 20px;">
    <div class="container row">
        <div class="col l9 m12 s12 pb10">
            <img
                src="{{ cacheBusting('/imgs/blank.png') }}"
                data-src="{{ article.thumbUrl }}"
                alt="{{ article.title }}"
                title="{{ article.title }}"
                class="responsive-img materialboxed"
            >
            <h1 class="ui header">{{ article.title }}</h1>
            {{ article.fullText | snipet }}
            <br><br>
            {% if article.users_id == activeUser.id %}
                <a href="{{ article.editUrl }}" class="btn">Editer</a>
                <a href="{{ article.deleteUrl }}" class="btn">Supprimer</a>
            {% endif %}
        </div>
        <div class="section nexted col l3 m12 s12 ">
            <ul class="collection grey dark-4">
                <li class="collection-item">
                    By {{ author.name }}
                </li>
                <li class="collection-item">
                    Camera
                    <span class="right">{{ article.exifData.Model ?? 'Indéfini' }}</span>
                </li>
                <li class="collection-item">
                    Dimension
                    <span class="right">{{ article.exifData.COMPUTED.Height ?? '' }} x {{ article.exifData.COMPUTED.Width ?? '' }} pixels</span>
                </li>
                <li class="collection-item">
                    Distance Focale
                    <span class="right">{{ article.exifData.FocalLength ?? 'Indéfini' }}</span>
                </li>
                <li class="collection-item">
                    Temps d'exposition
                    <span class="right">{{ article.exifData.ExposureTime ?? 'Indéfini' }}</span>
                </li>
            </ul>
            <span class="row col l12 s12 m12">
                <h2 class="ui header">Partager </h2>
            </span>
            <div>
                <div class="col l3 m3 s3">
                    <button class="btn btn-flat waves-effect hoverable" style="background: #4c67a1" data-action="share-facebook" data-url="{{ article.url }}">
                        <i class="icon icon-facebook"></i>
                    </button>
                </div>
                <div class="col l3 m3 s3">
                    <button class="btn btn-flat waves-effect hoverable" style="background: #55acee" data-action="share-twitter" data-url="{{ article.url }}">
                        <i class="icon icon-twitter"></i>
                    </button>
                </div>
                <div class="col l3 m3 s3">
                    <button class="btn btn-flat waves-effect hoverable" style="background: #d23f31" data-action="share-google-plus" data-url="{{ article.url }}">
                        <i class="icon icon-googleplus-rect"></i>
                    </button>
                </div>
                <div class="col l3 m3 s3">
                    <button class="btn btn-flat waves-effect hoverable" style="background: #11a84d" data-action="share-whatsapp" data-url="{{ article.url }}">
                        <i class="icon icon-whatsapp"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    {% include 'includes/comments.twig' %}
</section>
<section class="jumbotron parallax-container col l12 s12 m12" {{ smilars ? "style='margin-bottom: 20px;'" : '' }}>
    <div class="row container">
        <div class="col l12 m12 s12 row">
            <div class="col l4 m4 s12 center-align pb10">
                <span class="stats-value">{{ article.downloads }}</span>
                <span class="stats-label">Téléchargement</span>
            </div>
            <div class="col l4 m4 s12 center-align pb10">
                <span class="stats-value">{{ article.saves }}</span>
                <span class="stats-label">Enregistrement</span>
            </div>
            <div class="col l4 m4 s12 center-align pb10">
                <span class="stats-value">{{ article.nbLikes }}</span>
                <span class="stats-label">Mention j'aime</span>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="{{ article.thumbUrl }}" alt="{{ article.title}}" title="{{ article.title}}" class="bw">
    </div>
    <div class="bg"></div>
</section>
{% if similars %}
<section class="section">
    <div class="row container pb10">
        <span class="col l12 s12 m12">
            <h2 class="ui header">Voir aussi</h2>
        </span>
        <div class="carousel small">
            {% for p in similars %}
            <a href="{{ p.url }}" class="carousel-item" style="background-color: {{ p.color }}">
                <img
                    src="{{ cacheBusting('/imgs/sblank.png') }}"
                    data-src="{{ p.smallThumbUrl }}"
                    title="{{ p.title }}"
                    alt="{{ p.title }}"
                >
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<div class="fixed-action-btn {{ activeUser ? 'second' : '' }} ">
    <a class="btn-floating btn-large blue-grey dark-4 shadow-4">
        <i class="icon icon-up-open blue"></i>
    </a>
    <ul>
        <li class="btn-floating waves-effect">
            <a href="{{ article.likeUrl }}">
                {% if article.isLike == 'active' %}
                <i class="icon icon-heart"></i>
                {% else %}
                <i class="icon icon-heart-empty"></i>
                {% endif %}
            </a>
        </li>
        <li class="btn-floating waves-effect">
            <a href="{{ article.commentUrl }}">
                {% if a.commentsNumber > 0 %}
                <i class="icon icon-comment"></i>&nbsp {% else %}
                <i class="icon icon-comment-empty"></i>&nbsp {% endif %}
            </a>
        </li>
        <li class="btn-floating waves-effect">
            <a href="{{ article.downloadUrl }}">
                <i class="icon icon-download"></i>
            </a>
        </li>
        <li class="btn-floating waves-effect">
            <a href="{{ article.saveUrl }}">
                {% if a.isSaved %}
                <i class="icon icon-bookmark"></i>
                {% else %}
                <i class="icon icon-bookmark-empty"></i>
                {% endif %}
            </a>
        </li>
    </ul>
</div>
{% endblock %}
