{% extends 'layout/admin/default.twig' %}

{% block content %}
    <nav class="nav col l12">
        <div class="container">
            <div class="nav-wrapper">
                <ul>
                    <li><a href="{{ constant('ADMIN') ~ "/photographers" }}"  data-turbolinks="false">Photographers</a></li>
                    <li><a href="{{ constant('ADMIN') ~ "/locations" }}"  data-turbolinks="false">Locations</a></li>
                    <li><a href="{{ constant('ADMIN') ~ "/file-browser/posts" }}" data-turbolinks="false">Photos membres</a></li>
                    <li><a href="{{ constant('ADMIN') ~ "/files-browser/avatars" }}" data-turbolinks="false">Avatars membres</a></li>
                    <li class="right"><a href="{{ constant('ADMIN') ~ '/users/bugs' }}" data-turbolinks="false">Bugs</a></li>
                    <li class="right"><a href="{{ constant('ADMIN') ~ '/users/ideas' }}" data-turbolinks="false">Ideas</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="row container">
        <section class="col l12 m12 s12">
            <div class="card-panel grey dark-4 col l12" style="padding: 20px">
                <div class="section">
                    <span class="btn">Page : {{ currentPage }}/{{ totalPage }}</span>
                    <span class="btn">Total : {{ total }}</span>
                    <a href="{{ constant('ADMIN') ~ "/users?page=" ~ prevPage }}" class="btn" data-turbolinks="false" data-turbolinks="false">
                        <i class="icon icon-left-open"></i>
                    </a>
                    <a href="{{ constant('ADMIN') ~ "/users?page=" ~ nextPage }}" class="btn" data-turbolinks="false" data-turbolinks="false">
                        <i class="icon icon-right-open"></i>
                    </a>
                </div>
                <table class="card bordered grey dark-4">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>avatar</th>
                            <th>name</th>
                            <th>email</th>
                            <th>phone</th>
                            <th>confirmed_at</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in users %}
                            <tr>
                                <td><b>{{ u.id }}</b></td>
                                <td><img src="{{ u.avatarUrl }}" width="60" height="60"></td>
                                <td><a href="{{ u.accountUrl }}">{{ u.name }}</a></td>
                                <td>{{ u.email }}</td>
                                <td>{{ u.phone }}</td>
                                <td><time>{{ u.confirmed_at | date('D m y') }}</time></td>
                                <td>
                                    <form method="POST" action="{{ constant('ADMIN') ~ "/delete" }}" style="display: inline-block !important;">
                                        <input type="hidden" name="id" value="{{ u.id }}">
                                        <input type="hidden" name="type" value="5">
                                        <button type="submit" class="btn btn-small waves-effect waves-light red" id="delete">
                                            <i class="icon icon-cancel" style="font-size: smaller !important;"></i>
                                        </button>
                                    </form>
                                    {% if u.confirmed_at == null %}
                                        <a href="{{ constant('ADMIN') ~ "/confirm/5/" ~ u.id }}" title="confirmer" id="confirm" data-turbolinks="false">
                                            <button class="btn btn-small blue-2 waves-effect waves-light">
                                                <i class="icon icon-upload" style="font-size: smaller !important;"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                    {% if u.rank == "admin" %}
                                        <a href="{{ constant('ADMIN') ~ "/users/permissions/" ~ u.id }}" title="make simple user" data-turbolinks="false">
                                            <button class="btn btn-small blue-2 waves-effect waves-light">
                                                <i class="icon icon-circle" style="font-size: smaller !important;"></i>
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{{ constant('ADMIN') ~ "/users/permissions/" ~ u.id }}" title="make admin" data-turbolinks="false">
                                            <button class="btn btn-small blue-2 waves-effect waves-light">
                                                <i class="icon icon-circle-empty" style="font-size: smaller !important;"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <b>0</b>
                                </td>
                                <td>Aucun article</td>
                                <td>
                                    <button type="submit" class="btn btn-small waves-effect waves-light disabled">
                                        <i class="icon icon-remove" style="font-size: smaller !important;"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
{% endblock %}
