{% extends 'layout/users/account.twig' %}

{% block content %}
    <div class="jumbotron-user" data-action-requires="menu-transparent">
        <div class="jumbotron-user-profil align-center">
            <div class="jumbotron-user-avatar hoverable">
                <img src="{{ user.avatarUrl }}" alt="{{ user.name }}">
            </div>
            <div class="jumbotron-user-name row center">
                <h1 class="ui header">{{ user.name }}</h1>
                <span class="bio">
                    <p class="col l8 offset-l2 s12 m12">
                        {{ user.bio }}
                    </p>
                </span>
            </div>
        </div>
    </div>

    <div class>
        <div class="row col s12">
            <ul class="tabs transparent shadow-3">
                <div class="container">
                    {% if activeUser.id == user.id %}
                        <li class="tab col s4">
                            <a href="{{ activeUser.collectionUrl }}" target="_self">Gestion</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#photos" class="active">Photos</a>
                        </li>
                        <li class="tab col s4">
                            <a href="{{ activeUser.collectionUrl }}" target="_self">Collections</a>
                        </li>
                    {% else %}
                        <li class="tab col s12"><a href="#photos" class="active">Photos</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
    <div id="photos">
        {% if recent %}
            <section class="section jumbotron dark">
                <div class="row container pb10">
                    <span class="col l12 s12 m12">
                        <h2 class="ui header">Photos récentes</h2>
                    </span>
                    <div class="carousel small">
                        {% for p in recent %}
                            <a href="{{ p.url }}" class="carousel-item">
                                <img
                                        src=""
                                        data-src="{{ p.smallThumbUrl }}"
                                        title="{{ p.name }}"
                                        alt="{{ p.name }}"
                                >
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {% if posts %}
            <section class="section">
                <div class="row container">
                    <span class="col l12 s12 m12">
                        <h2 class="ui header">Toutes les photos</h2>
                    </span>
                </div>
                <div class="row container">
                    <div class="gallery gallery-container" id="dataContainer" data-ajax="users_posts">
                        {% for p in posts %}
                            <article class="gallery-item" id="{{ user.id }}@{{ p.id }}">
                                <a href="{{ p.url }}" style="background: {{ p.color }}">
                                    <img
                                            src=""
                                            data-src="{{ p.smallThumbUrl }}"
                                            class="responsive-img"
                                            title="{{ p.name }}"
                                            alt="{{ p.name }}"
                                    >
                                </a>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% if posts %}
                <div class="ng-progress-container">
                    <div id="statusBar" class="mtb ng-progress-indeterminate disabled">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <br>
            {% endif %}
        {% else %}
            <div class="section row center-align">
                <h2 class="icon icon-inbox red-txt center-align"></h2>
                <span class="col l12 s12 m12">
                    <h2 class="ui header divided center"> Aucune publication </h2>
                </span>
                <p class="col l8 offset-l2 s12 m12">
                    {{ user.name }} ne présente actuellement aucune publication disponible, les publications sont peut
                    être en évaluation ou privées,
                    ceci pourrait prendre du temps, veuillez revenir plus tard
                </p>
            </div>
        {% endif %}
    </div>
    {% if user.id != activeUser.id %}
        <div class="fixed-action-btn {{ activeUser ? 'second' : '' }}">
            <a href="{{ user.followingUrl }}" class="btn-floating btn-large blue-grey dark-4 shadow-4">
                {% if user.isFollowed %}
                    <i class="icon icon-user-times blue"></i>
                {% else %}
                    <i class="icon icon-user-plus blue"></i>
                {% endif %}
            </a>
        </div>
    {% endif %}
{% endblock %}
