{% extends 'layout/users/account.twig' %}

{% block content %}
    {% include 'includes/users/profile.twig' %}
    <div class="row col s12">
        <ul class="tabs transparent shadow-3">
            <div class="container">
                {% if currentUser.id == user.id %}
                    <li class="tab col s4">
                        <a href="#collection" class="active">Collections</a>
                    </li>
                    <li class="tab col s4">
                        <a href="{{ path('users.posts', {slug: user.slug}) }}" target="_self">Gestion</a>
                    </li>
                    <li class="tab col s4">
                        <a href="{{ path('users.profile', {slug: user.slug}) }}" target="_self">Photos</a>
                    </li>
                {% else %}
                    <li class="tab col s6">
                        <a href="#collection" class="active">Collections</a>
                    </li>
                    <li class="tab col s6">
                        <a href="{{ path('users.profile', {slug: user.slug}) }}" class="active">Photos</a>
                    </li>
                {% endif %}
            </div>
        </ul>
    </div>

    <section class="section jumbotron dark">
        <div class="container">
            {% if currentUser.id == user.id %}
                <div class="section center-align col l8 offset-l2 m12 s12">
                    <h2 class="ui header divided center">Collections privées </h2>
                    <p>
                        Rétrouvez les photos que vous avez aimées ou enregistrées
                        dans une collection privées créée automatiquement pour vous
                    </p>
                    <p>
                        <a href="{{ path('users.posts.saves', {slug: currentUser.slug}) }}" class="btn">Mes saves</a>
                        <a href="{{ path('users.posts.likes', {slug: currentUser.slug}) }}" class="btn">Mes likes</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </section>

    <div id="collection">
        <section class="section" id="collections">
            <div class="row container">
                <div class="col l12 s12 m12" style="margin-top: 25px;">
                    <h2 class="ui header">Toutes les Collections <span class="badge new">{{ collectionsTotalCount ?: 0 }}</span></h2>
                </div>
            </div>
            <div class="row container">
                {% if collections %}
                    <div class="col l12 m12 s12" id="dataContainer" data-ajax="collections">
                        {% for c in collections %}
                            <div class="col nexted s12 m4 l4" id="{{ c.id }}">
                                <article class="card post-titled grey dark-4">
                                    <div class="card-image waves-effect">
                                        <a href="{{ path('collections.show',{id: c.id, slug: c.slug}) }}" title="{{ c.name }}">
                                            {% for key, thumb in collectionsThumbs %}
                                                {% if c.id == key %}
                                                    <img src="" data-src="{{ thumb }}" alt="{{ c.name }}" title="{{ c.name }}" class="responsive-img">
                                                {% endif %}
                                            {% endfor %}
                                        </a>
                                    </div>
                                    <div class="post-description">
                                        <span class="truncate ui header">{{ c.name }}</span>
                                        {{ collectionsCount[c.id] }} photo{{ collectionsCount[c.id] > 1 ? 's' : '' }}
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                    {% if collections %}
                        <div class="row col s12">
                            <div class="ng-progress-container">
                                <div id="statusBar" class="mtb ng-progress-indeterminate disabled">
                                    <span></span><span></span><span></span><span></span><span></span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="section center-align col l8 offset-l2 m12 s12">
                        <h2 class="icon icon-picture red-txt center-align"></h2>
                        <h2 class="ui header divided center"> Aucune Collection </h2>
                        <p>
                            le site ne présente actuellement aucune publication disponible, les publications sont peut être en évaluation,
                            ceci pourrait prendre du temps, veuillez revenir plus tard
                        </p>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
