{% extends 'layout/posts/default.twig' %}

{% block content %}
    <div class="row col s12">
        <ul class="tabs transparent shadow-3">
            <div class="container">
                <li class="tab col s6"><a href="{{ currentUser.followingsUrl }}">Mes abonnements</a></li>
                <li class="tab col s6" class="active"><a href="{{ currentUser.followersUrl }}" target="_self">Mes abonnés</a></li>
            </div>
        </ul>
    </div>
    <div class="container row">
        {% for f in followings %}
            <div class="row nexted col l3 m3 s12">
                <div class="card-user card transparent hovercard hoverable">
                    <div class="cardheader" style="background: url('{{ f.avatarUrl }}')"></div>
                    <div class="avatar">
                        <a href="{{ f.accountUrl }}">
                            <img alt="{{ f.title }}" title="{{ f.title }}" src="{{ f.avatarUrl }}">
                        </a>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a href="{{ f.accountUrl }}">{{ f.name }}</a>
                        </div>
                        <div class="desc truncate">{{ f.bio }}</div>
                        <div class="ui tiny horizontal divided list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{ f.postsNumber }}&nbsp;Posts</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{ f.followersNumber }}&nbsp;Abonnés</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{ f.followingsNumber }}&nbsp;Abonnement</div>
                                </div>
                            </div>
                        </div>
                        {% if f.id != currentUser.id %}
                            <a href="{{ f.followingUrl }}" class="btn btn-flat" data-action="following">
                                {{ f.isFollowed ? "Se désabonner" : "S'abonner" }}
                            </a>
                        {% else %}
                            <button class="btn btn-flat disabled">
                                Se désabonner
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="section center-align col l8 offset-l2 s12 m12">
                <h2 class="icon icon-user-times red-txt center-align"></h2>
                <h2 class="ui header divided center"> Aucun abonnement </h2>
                <p>
                    vous n'avez actuellement aucun abonnement, abonné vous aux autres afin de recevoir des notifications
                    et de ne rater aucune de leurs publications.
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="fixed-action-btn {{ currentUser ? 'second' : '' }}">
        <a href="/community" class="btn-floating btn-large blue dark-2 waves-effect shadow-4">
            <i class="icon icon-users"></i>
        </a>
    </div>
{% endblock %}
