{% autoescape  false %}
    {% for g in gallery %}
        <div class="row nexted col s12 m3 l3">
                <article class="card post-titled" style="background: {{ g.color }}">
                    <div class="card-image waves-effect">
                        <a href="{{ g.url }}">
                            <img
                                src="{{ cacheBusting('/imgs/sblank.png') }}"
                                data-src="{{ g.smallThumbUrl }}"
                                alt="{{ g.name }}"
                                title="{{ g.name }}"
                            >
                        </a>
                    </div>
                    {% if g.name %}
                        <span class="post-description truncate">
                            {{ g.name }}
                        </span>
                    {% endif %}
                </article>
            </div>
    {% endfor %}
    {% for p in posts %}
        <div class="row nexted col s12 m3 l3">
                <article class="card post-titled" style="background: {{ p.url }}">
                    <div class="card-image waves-effect">
                        <a href="{{ p.url }}">
                            <img
                                src="{{ cacheBusting('/imgs/sblank.png') }}"
                                data-src="{{ p.smallThumbUrl }}"
                                alt="{{ p.title }}"
                                title="{{ p.title }}"
                            >
                        </a>
                    </div>
                    {% if p.title %}
                        <span class="post-description truncate">
                            {{ p.title }}
                        </span>
                    {% endif %}
                </article>
            </div>
    {% endfor %}
{% endautoescape %}
