{% autoescape false %}
    {% for p in photos %}
        <article class="gallery-item animated slideInUp" id="{{ p.id }}" style="background: {{ p.color }}">
            <a href="{{ p.url }}">
                <img
                    src="{{ cacheBusting('/imgs/sblank.png') }}"
                    data-src="{{ p.smallThumbUrl }}"
                    title="{{ p.name }}"
                    alt="{{ p.name }}",
                    style="width: 100%; height: 100%;"
                >
            </a>
        </article>
    {% endfor %}
{% endautoescape %}
