{% extends 'layout/admin/default.twig' %}

{% block content %}
    <nav class="nav">
        <div class="nav-wrapper container">
            <ul>
                <li>
                    <a href="{{ constant('ADMIN') ~ " /file-browser/blog" }}">Photo blog</a>
                </li>
                <li class="right">
                    <a href="{{ constant('ADMIN') ~ " /blog/categories/"  }}">Catégories</a>
                </li>
                <li class="right">
                    <a href="{{ constant('ADMIN') ~ " /blog/categories/add" }}">Ajouter une Catégorie</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container row">
        <section class="col l12 m12 s12">
            <div class="card-panel grey dark-4" style="padding: 20px">
                <div class="section">
                    <span class="btn">Page : {{ currentPage }}/{{ totalPage }}</span>
                    <span class="btn">Total :  {{ total }}</span>

                    <a href="{{ constant('ADMIN') ~ "/reports?page=" ~ prevPage }}" class="btn">
                        <i class="icon icon-left-open"></i>
                    </a>
                    <a href="{{ constant('ADMIN') ~ "/reports?page=" ~ nextPage }}" class="btn">
                        <i class="icon icon-right-open"></i>
                    </a>
                </div>
                <table class="card grey dark-4 bordered">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>type</th>
                            <th>content</th>
                            <th>publication_id</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in reports %}
                            <tr>
                                <td><b>{{ r.id }}</b></td>
                                <td>{{ r.type }}</td>
                                <td>{{ r.content }}</td>
                                <td>{{ r.publication_id}}</td>
                                <td>
                                    <form method="POST" action="{{ constant('ADMIN') ~ '/delete' }}" style="display: inline-block !important;">
                                        <input type="hidden" name="id" value="{{ r.id }}">
                                        <input type="hidden" name="type" value="11">
                                        <button type="submit" class="btn waves-effect waves-light red" id="delete">
                                            <i class="icon icon-cancel" style="font-size: smaller !important;"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><b>0</b></td>
                                <td>Aucun Signalement</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-small waves-effect waves-light disabled">
                                        <i class="icon icon-remove" style="font-size: smaller !important;"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
{% endblock %}
