{% extends 'layout/posts/default.twig' %}

{% block content %}
    {% if activeUser %}
        <div class="row col s12">
            <ul class="tabs transparent shadow-3">
                <li class="tab col s6" class="active"><a href="#all">Photographes</a></li>
                <li class="tab col s6"><a href="/community" target="_self">Tout</a></li>
            </ul>
        </div>
    {% endif %}
    <section class="section col l12 m12 s12 animated slideInLeft">
    <div class="container row" id="all">
        {% for u in users %}
            <div class="row nexted col l3 m3 s12">
                <div class="card-user card transparent hovercard hoverable">
                    <div class="cardheader" style="background: url('{{ u.avatarUrl }}')"></div>
                    <div class="avatar">
                        <a href="{{ u.accountUrl }}">
                            <img alt="{{ u.name }}" title="{{ u.name }}" src="{{ u.avatarUrl }}">
                        </a>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a href="{{ u.accountUrl }}">{{ u.name }}</a>
                        </div>
                        <div class="desc truncate">{{ u.bio }}</div>
                        <div class="ui tiny horizontal divided list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{ u.postsNumber }}&nbsp;Posts</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{ u.followersNumber }}&nbsp;Abonnés</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header">{{ u.followingsNumber }}&nbsp;Abonnement</div>
                                </div>
                            </div>
                        </div>

                        {% if u.id != activeUser.id %}
                            <a href="{{ u.followingUrl }}" class="btn btn-flat" data-action="following">
                                {{ u.isFollowed ? "Se désabonner" : "S'abonner" }}
                            </a>
                        {% else %}
                            <button class="btn btn-flat disabled">
                                Se désabonner
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col offset-l3 l6 m12 s12">
                <div class="section center-align">
                    <h2 class="icon icon-user-times red-txt center-align"></h2>
                    <h2 class="ui header divided center"> Aucun Membres </h2>
                    <p>
                        le site ne présente actuellement aucun membre disponible, ces derniers n'ont peut être pas encore
                        confirmer leur comptes, veuillez revenir plus tard.
                    </p>
                </div>
            </div>
        {% endfor %}
        {% if users %}
            <div class="ng-progress-container">
                <div id="statusBar" class="mtb ng-progress-indeterminate disabled" data-ajax="community">
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <br>
        {% endif %}
    </div>
</section>
<div class="fixed-action-btn {{ activeUser ? 'second' : '' }}">
    <a href="/community/search" class="btn-floating btn-large blue dark-2 waves-effect shadow-4">
        <i class="icon icon-search"></i>
    </a>
</div>
{% endblock %}
