{% extends 'layout/admin/default.twig' %}

{% block content %}
    <nav class="nav col l12">
        <div class="container">
            <div class="nav-wrapper">
                <ul>
                    <li><a href="{{ constant('ADMIN') ~ "/file-browser/posts" }}"  data-turbolinks="false">Photos membres</a></li>
                    <li><a href="{{ constant('ADMIN') ~ "/files-browser/avatars" }}" data-turbolinks="false">Avatars membres</a></li>
                    <li class="right"><a href="{{ constant('ADMIN') ~ '/users/bugs' }}" data-turbolinks="false">Bugs</a></li>
                    <li class="right"><a href="{{ constant('ADMIN') ~ '/users/ideas' }}" data-turbolinks="false">Ideas</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="row container">
        <section class="col l12 m12 s12">
            <div class="card-panel grey dark-4 col l12" style="padding: 20px">
                <div class="section">
                    <a href="{{ constant('ADMIN') ~ "/locations/add" }}" class="btn right">
                        <i class="icon icon-plus" style="font-size: smaller !important;"></i>
                    </a>

                    <span class="btn">Page : {{ currentPage }}/{{ totalPage }}</span>
                    <span class="btn">Total : {{ total }}</span>
                    <a href="{{ constant('ADMIN') ~ "/locations?page=" ~ prevPage }}" class="btn" data-turbolinks="false">
                        <i class="icon icon-left-open"></i>
                    </a>
                    <a href="{{ constant('ADMIN') ~ "/locations?page=" ~ nextPage }}" class="btn" data-turbolinks="false">
                        <i class="icon icon-right-open"></i>
                    </a>
                </div>
                <table class="card bordered grey dark-4">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>address</th>
                            <th>lat</th>
                            <th>lng</th>
                            <th>type</th>
                            <th>photographers_id</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in locations %}
                            <tr>
                                <td><b>{{ l.id }}</b></td>
                                <td>{{ l.name }}</td>
                                <td>{{ l.address }}</td>
                                <td>{{ l.lat }}</td>
                                <td>{{ l.lng }}</td>
                                <td>{{ l.type }}</td>
                                <td>{{ l.photographers_id }}</td>
                                <td>
                                    <form method="POST" action="{{ constant('ADMIN') ~ "/delete" }}" style="display: inline-block !important;">
                                        <input type="hidden" name="id" value="{{ l.id }}">
                                        <input type="hidden" name="type" value="13">
                                        <button type="submit" class="btn btn-small waves-effect waves-light red" id="delete">
                                            <i class="icon icon-cancel" style="font-size: smaller !important;"></i>
                                        </button>
                                    </form>
                                    <a href="{{ constant('ADMIN') ~ "/locations/edit/" ~ l.id }}" data-turbolinks="false">
                                        <button class="btn btn-small blue-2 waves-effect waves-light">
                                            <i class="icon icon-plus-circled" style="font-size: smaller !important;"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <b>0</b>
                                </td>
                                <td>Aucune location</td>
                                <td>
                                    <button type="submit" class="btn btn-small waves-effect waves-light disabled">
                                        <i class="icon icon-remove" style="font-size: smaller !important;"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
{% endblock %}
