<header>
    <div class="navbar-fixed">
        <nav class="shadow-3">
            <div class="nav-wrapper container" id="menu">
                <a href="{{ constant('ADMIN') }}" class="brand-logo">
                    <img src="/imgs/admin-logo.png" class="logo" alt="logo">
                </a>
                <a href="#" data-activates="mobile-admin-menu" class="button-collapse btn blue-grey dark-3">
                    <i class="icon icon-th"></i>
                </a>
                <ul class="right hide-on-med-and-down links">
                    <span id="menu-item-active" data-isActive="{{ pageManager.getActivePage }}"></span>


                    <li id="Accueil"><a href="/home"  data-turbolinks="false"> <i class="icon icon-home"></i></a></li>
                    <li id="befree"><a href="{{ constant('SITE_NAME') ~ "/befree" }}" data-turbolinks="false">befree</a></li>
                    <li id="pages"><a href="{{constant('ADMIN')~"/pages" }}" data-turbolinks="false">Pages</a></li>
                    <li id="logs"><a href="{{constant('ADMIN')~"/logs" }}" data-turbolinks="false">Logs</a></li>
                    <li id="blog"><a href="{{constant('ADMIN')~"/blog" }}" data-turbolinks="false">Blog</a></li>
                    <li id="users"><a href="{{constant('ADMIN')~"/users" }}" data-turbolinks="false">Users</a></li>
                    <li id="actualites"><a href="{{constant('ADMIN')~"/posts" }}" data-turbolinks="false">Users Posts</a></li>
                    <li id="gallerie"><a href="{{constant('ADMIN')~"/gallery" }}" data-turbolinks="false">Gallery</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
