{% import 'includes/form.twig' as form %}

<div id="comments" class="section container row">
    {% include "includes/right-aside.twig" %}
    <div class="col l6 m12 s12">
        <form method="POST" action="{{ article.commentUrl }}">
            {{ form.textarea('comment','Commentaire', errors.get('comment'), post.get('comment')) }}
            <button type="submit" class="btn btn-flat"> Envoyer</button>
        </form>

        <ul class="section" id="commentContainer">
           {% if comments %}
                <div class="ui comments">
                    {% for c in comments %}
                        <div class="comment">
                            <a class="avatar">
                                <img src="{{ user.find(c.users_id).avatarUrl }}">
                            </a>
                            <div class="content">
                                <a class="author">{{ user.find(c.users_id).name }}</a>
                                <div class="metadata">
                                    <time class="date" data-time="{{ c.date_created | date("U") }}">{{ c.time }}</time>
                                </div>
                                <div class="text">
                                    {{ c.comment }}
                                </div>
                                <div class="actions">
                                    <a href="/watchout/comments/{{ c.id }}">Signaler</a>
                                    {% if c.users_id == activeUser.id %}
                                        <a href="#cmtDelete-{{ c.id }}" class="">Supprimer</a>
                                        <a href="#cmtEdit-{{ c.id }}" class="">Editer</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
           {% else %}
                <div class="section center-align">
                    <h2 class="icon icon-comment-empty red-txt center-align"></h2>
                    <h2 class="ui header divided center"> Aucun commentaire pour l'instant</h2>
                    <p>
                        le site ne présente actuellement aucun commentaire pour cette publication, soyez la première
                        personne à partager votre commentaire.
                    </p>
                </div>
            {% endif %}
        </ul>
    </div>
    {% include "includes/menu-aside.twig" %}
</div>