{% macro input(name, label, type, error, value) %}
    <div class="input-field col s12">
        <label for="{{ name }}">{{ label }}</label>
        <input type="{{ type }}"  name="{{ name }}" id="{{ name }}" class="validate {{ error ? 'invalid' : ''}}" value="{{ value | escape }}">
        <span class="helper-text red-txt">
            {{ error }}
        </span>
    </div>
{% endmacro %}

{% macro smallInput(name, label, type, error, value) %}
    <div class="input-field col l6 m6 s12">
        <label for="{{ name }}">{{ label }}</label>
        <input type="{{ type }}" name="{{ name }}" id="{{ name }}" class="validate {{ error ? 'invalid' : ''}}" value="{{ value | escape }}">
        <span class="helper-text red-txt">
            {{ error }}
        </span>
    </div>
{% endmacro %}

{% macro textarea(name, label, error, value) %}
    <div class="input-field col s12">
        <label for="{{ name }}">{{ label }}</label>
        <textarea name="{{ name }}" id="{{ name }}" class="materialize-textarea">{{ value }}</textarea>
        <span class="helper-text red-txt">
            {{ error }}
        </span>
    </div>
{% endmacro %}

{% macro inputFile(placeholder) %}
    <div class="file-field input-field col s12">
        <span class="btn blue-grey darken-1 waves-effect waves-light col s3 m2 l2" style="display: inline-block;">
            <span><i class="icon icon-picture"></i></span>
            <input type="file" name="thumb">
        </span>
        <span class="file-path-wrapper col s9 l10 m10" style="display: inline-block;" >
            <input class="file-path" placeholder="{{ placeholder }}" type="text">
        </span>
        <div data-action="show-uploaded-file"></div>
    </div>
{% endmacro %}

{% macro inputFileSimple(placeholder) %}
    <div class="file-field input-field col s12">
        <span class="btn blue-grey darken-1 waves-effect waves-light col s3 m2 l2" style="display: inline-block;">
            <span><i class="icon icon-picture"></i></span>
            <input type="file" name="thumb">
        </span>
        <span class="file-path-wrapper col s9 l10 m10" style="display: inline-block;" >
            <input class="file-path" placeholder="{{ placeholder }}" type="text">
        </span>
        <div data-action="show-uploaded-file"></div>
    </div>
{% endmacro %}
