<aside class="row col l3 s12 fast slideInRight">
    <div class="card grey dark-4">
        {% if verse %}
            <div class="verse-panel transparent" data-action="verses" data-ajax="/verses">
                <div class="indicator-container">
                    <div class="indicator active"></div>
                </div>
                <h2 class="ui header">God First</h2>
                <div class="txt" data-content="txt">
                    {{ verse.text }}
                </div>
                <div class="ref" data-content="ref">
                    {{ verse.reference }}
                </div>
            </div>
        {% endif %}
        <div class="ui divided list animated slideInRight">
            <ul class="collection transparent">
                {% for c in categories %}
                    <li class="collection-item waves-effect col s12 {{ c.title == posts[0] ? 'active' : '' }}">
                        <a href="{{ c.url }}">
                            <div style="margin: 10px">
                                <div class="collection-item-title">
                                    {{ c.title }}
                                    <span class="secondary-content"><i class="icon icon-right-open"></i></span>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                <li class="collection-item waves-effect">
                    <a href="/categories">Toutes les Catégories</a>
                </li>
            </ul>
        </div>
    </div>
</aside>
