{% extends 'layout/posts/default.twig' %}

{% block content %}
    <div class="row col s12">
        <ul class="tabs transparent shadow-3">
            <li class="container">
                <ul>
                    <li class="tab col s4"><a href="{{ path('categories') }}" target="_self">Categories</a></li>
                    <li class="tab col s4"><a href="{{ path('posts') }}" target="_self">Photos</a></li>
                    <li class="tab col s4"><a href="{{ path('collections') }}" target="_self">Collections</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <section class="section container row">
        {% if categories %}
            <div class="animated slideInRight" id="dataContainer" data-ajax="categories">
                {% for c in categories %}
                <div class="nexted col s12 m3 l3" id="{{ c.id }}">
                    <article class="card post-titled grey dark-4">
                        <div class="card-image waves-effect">
                            <a href="{{ path('categories.show', {id: c.id, slug: c.slug}) }}" title="{{ c.name }}">
                                {% for key, thumb in categoriesThumbs %}
                                    {% if c.id == key %}
                                        <img src="" data-src="{{ thumb }}" alt="{{ c.name }}" title="{{ c.name }}" class="responsive-img">
                                    {% endif %}
                                {% endfor %}
                            </a>
                        </div>
                        <div class="post-description">
                            <span class="truncate ui header">{{ c.name }}</span>
                            {{ categoriesCount[c.id] }} photo{{ categoriesCount[c.id] > 1 ? 's' : '' }}
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
            {% if categories %}
                <div class="row col s12">
                    <div class="ng-progress-container">
                        <div id="statusBar" class="mtb ng-progress-indeterminate disabled" data-ajax="categories">
                            <span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="col offset-l2 l8 m12 s12 animated slideInRight">
                <div class="section center-align">
                    <h2 class="icon icon-tag red-txt center-align"></h2>
                    <h2 class="ui header divided center"> Aucune Catégorie </h2>
                    <p>
                        l'application ne présente actuellement aucune catégorie disponible, les catégories sont peut être en évaluation,
                        ceci pourrait prendre du temps, veuillez revenir plus tard
                    </p>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
