{% extends 'layout/posts/default.twig' %}

{% block content %}
    <div class="row col s12">
        <ul class="tabs transparent shadow-3">
            <div class="container">
                <ul>
                    <li class="tab col s4 active"><a href="#">Photos</a></li>
                    <li class="tab col s4"><a href="{{ path('categories') }}" target="_self">Categories</a></li>
                    <li class="tab col s4"><a href="{{ path('collections') }}" target="_self">Collections</a></li>
                </ul>
            </div>
        </ul>
    </div>

    <section class="section jumbotron dark">
        <div class="container animated slideInRight">
            <div class="carousel small">
                {% for p in posts %}
                    <a href="{{ path('posts.show', {id: p.id, slug: p.slug}) }}" class="carousel-item" style="background: {{ p.color }}">
                        <img src="" data-src="{{ p.getSmallThumb() }}" alt="{{ p.name }}" title="{{ p.name }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section container animated slideInRight">
        {% if posts %}
            <div class="gallery gallery-container" id="dataContainer" data-ajax="posts">
                {% for p in posts %}
                    <article class="gallery-item" data-action="gallery-item" id="{{ p.id }}"  style="background: {{ p.color }}">
                        <a href="{{ path('posts.show', {id: p.id, slug: p.slug}) }}" title="{{ p.name }}">
                            <img src="" data-src="{{ p.getSmallThumb() }}" title="{{ p.name }}" alt="{{ p.name }}">
                        </a>
                    </article>
                {% endfor %}
            </div>

            <div class="ng-progress-container">
                <div id="statusBar" class="mtb ng-progress-indeterminate disabled" data-ajax="posts">
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <br>
        {% else %}
            <div class="row">
                <div class="section center-align col l8 offset-l2 m12 s12">
                    <h2 class="icon icon-picture red-txt center-align"></h2>
                    <h2 class="ui header divided center"> Aucune Photo </h2>
                    <p>
                        le site ne présente actuellement aucune publication disponible, les publications sont peut être en évaluation,
                        ceci pourrait prendre du temps, veuillez revenir plus tard
                    </p>
                </div>
            </div>
        {% endif %}
    </section>
    <div class="fixed-action-btn {{ activeUser ? 'second' : '' }}">
        <a href="{{ path('posts.slider') }}" class="btn-floating btn-large blue dark-2 waves-effect shadow-4">
            <i class="icon  icon-picture"></i>
        </a>
    </div>
{% endblock %}
