{% extends "layout/posts/default.twig" %}


{% block content %}
    <section id="likers" class="section container row">
        <div class="col nexted l9 m12 s12">
        <div class="section card grey dark-4" id="likers">
            {% if likers %}
                <ul class="collection">
                    {% for u in likers %}
                        <li class="collection-item avatar">
                            <a href="{{ u.accountUrl }}">
                                <img src="{{ u.avatarUrl }}" alt="{{ u.name }}" class="circle">
                                <span class="title">{{ u.name }}</span>
                            </a>
                            <p>{{ u.bio | escape | nl2br }}</p>
                            <br>
                            {% if u.id != activeUser.id %}
                                <a href="{{ u.followingUrl }}" class="btn" data-action="following">
                                    {{ u.isFollowed ? "Se désabonner" : "S'abonner" }}
                                </a>
                            {% else %}
                                <button class="btn disabled">
                                    Se désabonner
                                </button>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                    <div class="section center-align col l8 offset-l2 s12 m12">
                        <h2 class="icon icon-comment-empty red-txt center-align"></h2>
                        <h2 class="ui header divided center"> Aucun "J'aime" </h2>
                        <p>
                            le site ne présente actuellement aucune mention j'aime pour cette publication, soyez la première
                            personne à aimer cette publication.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="hide-on-med-and-down">
            {% include "includes/menu-aside.twig" %}
        </div>
    </section>
{% endblock %}
