{% extends 'layout/users/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
    <div class="row col l4 m4 s12">
        <div class="card-panel hoverable" id="signUpBox">
            <form method="POST" action="{{ path('auth.register') }}">
                <div class="row">
                    {{ form.input('name',"pseudo (nom d'utilisateur)",'text', errors.name, input.get('name'))}}
                    {{ form.input('email','adresse mail','email', errors.email, input.get('email'))}}
                    {{ form.input('password', 'Mot de passe', 'password', errors.password) }}
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p> En créant votre compte vous affirmez avoir lu et accepter nos
                            <a href="{{ path('privacy') }}">Conditions d'utilisation</a>
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <button type="submit" class="btn btn-flat" id="sign" >Inscription</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
