{% extends "layout/posts/default.twig" %}
{% import "includes/form.twig" as form %}

{% block content %}
<section class="jumbotron dark col l12 s12 m12" style="margin-bottom: 0px;">
<div class="row nexted container">
        <div class="col l12 m12 s12 row">
            <div class="col l12 m12 s12 center-align" style="margin-bottom: 30px;">
                <b>NB:</b> les prix peuvent variés en fonction du photographe.
            </div>
            <div class="col l4 m4 s12 center-align pb10">
                <span class="stats-value">
                    $1
                </span>
                <span class="stats-label">3 photos</span>
                <p>Nous vous donnons la possibilité de faire un shooting avec facturation par photo, où vous voulez dans nos heures de service</p>
            </div>
            <div class="col l4 m4 s12 center-align pb10">
                <span class="stats-value">
                    $15
                </span>
                <span class="stats-label">shooting par heure</span>
                <p>Nous vous donnons la possibilité de faire un shooting avec facturation par heure, où vous voulez dans nos heures de service</p>
            </div>
            <div class="col l4 m4 s12 center-align pb10">
                <span class="stats-value">
                    $50
                </span>
                <span class="stats-label">évènement</span>
                <p>Disponible pour immortaliser, des évènements, anniversaires, réceptions et autres, veuillez le préciser dans la description.</p>
            </div>
        </div>
    </div>
</section>
<section class="section row container">
    <section class="col offset-l2 offset-m2 nexted l8 m12 s12 animated fast slideInRight">
        <form action="" method="POST" class="card-panel grey dark-4">

            {{ form.smallInput('name','Votre nom', 'text', errors.name, input.get('name') ?? currentUser.name) }}
            {{ form.smallInput('email', 'Votre email', 'email', errors.email, input.get('email') ?? currentUser.email) }}

            <div class="input-field col l6 m6 s12">
                <label for="date">Date</label>
                <input type="text" name="date" id="date" class="datepicker validate {{ errors.time ? 'invalid' : ''}}" value="{{ input.get('date') | escape }}">
                <span class="helper-text red-txt">
                    {{ errors.date[0] }}
                </span>
            </div>
            <div class="input-field col l6 m6 s12">
                <label for="time">Heure</label>
                <input type="text" name="time" id="time" class="validate timepicker {{ errors.time ? 'invalid' : ''}}" value="{{ input.get('time') | escape }}">
                <span class="helper-text red-txt">
                    {{ errors.time[0] }}
                </span>
            </div>

            <div class="input-field col s12">
                <label for="photographer">photographe</label>
                <input type="text"  name="photographer" id="photographer" class="validate {{ errors.photographer ? 'invalid' : ''}}" value="{{ value | escape }}">
                <span class="helper-text grey-txt" style="margin-bottom: 30px;">
                    si vous ne connaissez pas des photographes, nous nous chargerons de vous trouver
                    un photographe.
                </span>
            </div>

            <div class="row">
                {{ form.textarea('description', 'Description', errors.description, input.get('description')) }}
            </div>

            <div class="submit-button">
                <button type="submit" class="btn btn-flat waves-effect">Envoyer
                    <i class="icon icon-send"></i>
                </button>
            </div>
        </form>
    </section>
</section>

{% endblock %}
