{% extends 'layout/admin/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
    <section class="section container row">
        {% include 'includes/right-aside.twig' %}
        <section class="section col l9 m12 s12">
            <h2 class="ui header">Publier une Photo</h2>
            <form action="" method="POST" class="card-panel grey dark-4" enctype="multipart/form-data" data-action="upload">

                {{ form.inputFile("Photo de couverture") }}
                {{ form.input('name', 'Name', 'text', errors.get('name'), post.get('name')) }}
                <div class="col l12 m12 s12">
                    <div class="input-field">
                        <label for="tags">Tags</label>
                        <input type="text" id="tags" name="tags" value="{{ post.get('tags') }}">
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="input-field">
                        <select name="album">
                            <option disabled="disabled" selected="selected">choisissez un album</option>
                            {% for a in albums %}
                                <option value="{{ a.id }}">{{ a.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="input-field">
                        <select name="category">
                            <option disabled="disabled" selected="selected">choisissez une catégorie</option>
                            {% for c in categories %}
                                <option value="{{ c.id }}">{{ c.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {{ form.textarea('description','description', errors.get('description'), post.get('description')) }}

                <div class="submit-button">
                    <button type="submit" class="btn btn-flat waves-effect">Ajouter&nbsp;<i class="icon icon-send"></i>
                    </button>
                </div>
            </form>
        </section>
    </section>
{% endblock %}
