{% extends 'layout/photographer.twig' %}

{% block content %}
    <section class="section row container animated slideInLeft">
        <span class="row col l12 s12 m12">
            <h2 class="ui header"> Dernières photos</h2>
        </span>
        {% for a in last %}
            <div class="row nexted col s12 m3 l3">
                <article class="card post-titled" style="background-color: {{ a.color }};">
                    <div class="card-image waves-effect">
                        <a href="{{ a.url }}" >
                            <img
                                src="{{ cacheBusting('/imgs/sblank.png') }}"
                                data-src="{{ a.smallThumbUrl }}"
                                alt="{{ a.name }}"
                                title="{{ a.name }}"
                            >
                        </a>
                    </div>
                    {% if a.title or a.name %}
                        <span class="post-description truncate">
                            {{ a.title ?? a.name }}
                        </span>
                    {% endif %}
                </article>
            </div>
        {% endfor %}
    </section>
    <section class="section jumbotron dark col l12 m12 s12">
        <div class="row container">
            <div class="ui divided items col l9 m12 s12">
                <div class="item">
                    <div class="image">
                        <img src="{{ user.avatarUrl }}">
                    </div>
                    <div class="content">
                        <a href="http://ngpictures.pe.hu" target="_blank" class="header">{{ user.name }}</a>
                        <div class="meta">Photographe</div>
                        <div class="description">
                            <p>
                                {{ user.bio }}
                            </p>
                            <p>
                                {{ user.name }} est membre de ngpictures depuis le {{ user.confirmed_at | date('d  M Y') }},
                                a publié {{ user.postsNumber }} photos
                                , suivi par {{ user.followersNumber }} personnes. <br>
                                abonné à {{ user.followingsNumber }} personnes
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 s12 m12">
                <a href="/photographers/bookings/{{ securityToken }}" class="btn btn-flat">Mes Réservations</a>
            </div>
        </div>
    </section>
    <section class="jumbotron parallax-container col l12 s12 m12">
        <div class="row container">
            <div class="col l4 m12 s12">
                <h2 class="ui header">Nous Rétrouver</h2>
                <address style="font-style: normal !important;" class="grey-txt">
                    {{ photographer.location }}
                    <br>
                    {{ photographer.email }}
                </address>
                <p><a href="mailto:{{ photographer.email }}" class="center btn btn-flat">Contacter</a></p>
            </div>
            <div class="col l8 m12 s12 goole-maps">
                <iframe class="hoverable" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.669869208731!2d27.46662171426114!3d-11.646857137759644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1
                !3m3!1m2!1s0x197239b7fd095f69%3A0x51540f372bd869d6!2sNgpictures!5e0!3m2!1sfr!2scd!4v1530965465158"  width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="parallax">
            <img src="/imgs/outils.jpeg" alt="{{ article.title}}" title="{{ article.title}}" class="bw">
        </div>
    </section>
{% endblock %}
