{% autoescape false %}
    {% for c in categories %}
        <div class="row nexted col s12 m3 l3 animated slideInUp" id="{{ c.id }}">
            <article class="card post-titled grey dark-4">
                <div class="card-image waves-effect">
                    <a href="{{ c.url }}">
                        {% for key, thumb in thumbs %}
                            {% if c.id == key %}
                                <img
                                    src="{{ cacheBusting('/imgs/sblank.png') }}"
                                    data-src="{{ thumb }}"
                                    alt="{{ c.title }}"
                                    title="{{ c.title }}"
                                    class="responsive-img"
                                >
                            {% endif %}
                        {% endfor %}
                    </a>
                </div>
                <div class="post-description">
                    <span class="truncate ui header">{{ c.title }}</span>
                    {{ nb[c.id] }} publication{{ nb[c.id] > 1 ? 's' : '' }}
                </div>
            </article>
        </div>
    {% endfor %}
{% endautoescape %}
