{% extends 'layout/posts/default.twig' %}

{% block content %}
    <div class="section container row animated slideInRight">
        {% if posts or gallery %}
            <div class="gallery gallery-container" id="dataContainer" data-ajax="gallery">
                {% for g in gallery %}
                    <article class="gallery-item" id="{{ g.id }}"  style="background: {{ g.color }}">
                        <a href="{{ g.url }}">
                            <img
                                src="{{ cacheBusting('/imgs/sblank.png') }}"
                                data-src="{{ g.smallThumbUrl }}"
                                title="{{ g.name }}"
                                alt="{{ g.name }}"
                            >
                        </a>
                    </article>
                {% endfor %}
                {% for p in posts %}
                    <article class="gallery-item" id="{{ p.id }}"  style="background: {{ p.color }}">
                        <a href="{{ p.url }}">
                            <img
                                src="{{ cacheBusting('/imgs/sblank.png') }}"
                                data-src="{{ p.smallThumbUrl }}"
                                title="{{ p.name }}"
                                alt="{{ p.name }}"
                            >
                        </a>
                    </article>
                {% endfor %}
            </div>
        {% else %}
            <div class="col offset-l3 l6 m12 s12 animated slideInRight">
                <div class="section center-align">
                    <h2 class="icon icon-picture red-txt center-align"></h2>
                    <h2 class="ui header divided center"> Aucune publication </h2>
                    <p>
                        cet album ne présente actuellement aucune publication disponible, les publications sont peut être en évaluation,
                        ceci pourrait prendre du temps, veuillez revenir plus tard
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="fixed-action-btn {{ activeUser ? 'second' : '' }}">
        <a href="/gallery/albums" class="btn-floating btn-large blue dark-2 waves-effect shadow-4">
            <i class="icon icon-tags"></i>
        </a>
    </div>
{% endblock %}
