{% extends "layout/posts/default.twig" %}
{% import "includes/form.twig" as form %}

{% block content %}
<section class="jumbotron dark col l12 s12 m12" style="margin-bottom: 0px;">
<div class="row nexted container">
        <div class="col l12 m12 s12 row">
            <div class="col l12 m12 s12 center-align" style="margin-bottom: 30px;">
                <b>NB:</b> les prix peuvent variés en fonction du photographe.
            </div>
            <div class="col l4 m4 s12 center-align pb10">
                <span class="stats-value">
                    $1
                </span>
                <span class="stats-label">3 photos</span>
                <p>Nous vous donnons la possibilité de faire un shooting avec facturation par photo, où vous voulez dans nos heures de service</p>
            </div>
            <div class="col l4 m4 s12 center-align pb10">
                <span class="stats-value">
                    $15
                </span>
                <span class="stats-label">shooting par heure</span>
                <p>Nous vous donnons la possibilité de faire un shooting avec facturation par heure, où vous voulez dans nos heures de service</p>
            </div>
            <div class="col l4 m4 s12 center-align pb10">
                <span class="stats-value">
                    $50
                </span>
                <span class="stats-label">évènement</span>
                <p>Disponible pour immortaliser, des évènements, anniversaires, réceptions et autres, veuillez le préciser dans la description.</p>
            </div>
        </div>
    </div>
</section>
<section class="section row container">
    <section class="col l9 m9 s12 animated fast slideInRight">
        <form action="" method="POST" class="card-panel grey dark-4">

            {{ form.smallInput('name','Votre nom', 'text', errors.get('name'), post.get('name') ?? activeUser.name) }}
            {{ form.smallInput('email', 'Votre email', 'email', errors.get('email'), post.get('email') ?? activeUser.email) }}

            <div class="input-field col l6 m6 s12">
                <label for="date">Date</label>
                <input type="text" name="date" id="date" class="datepicker" value="{{ post.get('date') | escape }}">
                <span class="helper-text red-txt">
                    {{ errors.get('date') }}
                </span>
            </div>
            <div class="input-field col l6 m6 s12">
                <label for="time">Heure</label>
                <input type="text" name="time" id="time" class="validate timepicker {{ errors.get('time') ? 'invalid' : ''}}" value="{{ post.get('time') | escape }}">
                <span class="helper-text red-txt">
                    {{ errors.get('time') }}
                </span>
            </div>

            <div class="col l12 m12 s12">
                <div class="input-field" style="margin-bottom: -10px;">
                    <select name="photographer">
                        <option disabled="disabled" selected="selected">choisissez un photographe</option>
                        {% for p in photographers %}
                            <option value="{{ p.id }}">{{ p.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <span class="helper-text" tyle="margin-bottom: 30px;">
                    si vous ne connaissez pas des photographes, nous nous chargerons de vous trouver
                    un photographe.
                </span>
            </div>

            {{ form.textarea('description', 'Description', errors.get('description'), post.get('description')) }}

            <div class="submit-button">
                <button type="submit" class="btn btn-flat waves-effect">Envoyer
                    <i class="icon icon-send"></i>
                </button>
            </div>
        </form>
    </section>
    <div class="row col s12 m3 l3">
        <article class="card post-titled grey dark-4">
            <div class="card-image waves-effect">
                <a href="{{ a.url }}">
                    <img
                        data-src="{{ cacheBusting('/imgs/outils.jpeg') }}"
                        alt="outils"
                        title="outils"
                    >
                </a>
            </div>
            <span class="post-description">
                <span class="ui header">Mois de {{ current_month }}</span><br><br>
                Nous mettons des photographes professionels à votre disposition,
                ceux-ci sont souvant chargés, il serait préferable de faire votre réservation
                trois ou quatre jours avant la date du shoot, pour vous rassurez d'avoir un photographe disponible <br><br>
            </span>
        </article>
    </div>
</section>

{% endblock %}
