{% extends 'layout/search.twig' %}

{% block content %}
    {% if query %}
        <section class="section container row">
            {% if not posts and not blog and not gallery and not pexels  %}
                <div class="col offset-l3 l6 m12 s12 animated slideInRight">
                    <div class="section center-align">
                        <h2 class="icon icon-search red-txt center-align"></h2>
                        <h2 class="ui header divided center"> Aucun Résultat</h2>
                        <p>
                            Aucun résultat pour : "&nbsp;{{query }}&nbsp;" actuellement, Vérifiez l'orthographe du mot puis réessayer,
                            les mots de moins de 3 caratères sont ignorés par la recherche.
                        </p>
                    </div>
                </div>
            {% else %}
                <span class="section row col l12 s12 m12">
                    <h2 class="ui header"> Résultat pour &nbsp;"&nbsp;{{ query }}&nbsp;"</h2>
                </span>
                {% for b in blog %}
                    <div class="row nexted col s12 m3 l3">
                        <article class="card post-titled grey dark-4">
                            <div class="card-image waves-effect">
                                <a href="{{ b.url }}">
                                    <img src="{{ b.smallThumbUrl }}" alt="{{ b.title }}" title="{{ b.title }}">
                                </a>
                            </div>
                            {% if b.title %}
                            <span class="post-description truncate">
                                {{ b.title }}
                            </span>
                            {% endif %}
                        </article>
                    </div>
                {% endfor %}
                {% for g in gallery  %}
                    <div class="row nexted col s12 m3 l3">
                        <article class="card post-titled grey dark-4">
                            <div class="card-image waves-effect">
                                <a href="{{ g.url }}">
                                    <img src="{{ g.smallThumbUrl }}" alt="{{ g.name }}" title="{{ g.name }}">
                                </a>
                            </div>
                            {% if g.name %}
                            <span class="post-description truncate">
                                {{ g.name }}
                            </span>
                            {% endif %}
                        </article>
                    </div>
                {% endfor %}
                {% for p in posts  %}
                    <div class="row nexted col s12 m3 l3">
                        <article class="card post-titled grey dark-4">
                            <div class="card-image waves-effect">
                                <a href="{{ p.url }}">
                                    <img src="{{ p.smallThumbUrl }}" alt="{{ p.title }}" title="{{ p.title }}">
                                </a>
                            </div>
                            {% if p.title %}
                                <span class="post-description truncate">
                                    {{ p.title }}
                                </span>
                            {% endif %}
                        </article>
                    </div>
                {% endfor %}
                {% if pexels %}
                    <div class="row col l12 m12 s12">
                        <div class="ui header dividing center" style="margin-top: 20px; margin-bottom: 20px;">
                            <a href="https://pexels.com/?ref={{ constant('SITE_NAME') }}">
                                <img src="/imgs/pexels-logo.png" width="180" height="40" alt="pexels" >
                            </a>
                            <br>photos provided by Pexels
                        </div>
                    </div>
                    {% for p in pexels %}
                    <div class="row nexted col s12 m3 l3">
                        <article class="card post-titled grey dark-4">
                            <div class="card-image waves-effect">
                                <a href="{{ p.url }}?ref={{ constant('SITE_NAME') }}">
                                    <img src="{{ p.src.tiny }}" width="500" height="500">
                                </a>
                            </div>
                            <span class="post-description truncate">
                                By {{ p.photographer }} on pexels
                            </span>
                        </article>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </section>
    {% endif %}
{% endblock %}
