{% extends 'layout/posts/default.twig' %}

{% block content %}
    <section class="section container row">
        {% include 'includes/right-aside.twig' %}
        <section class="section col nexted l6 m6 s12 animated fast slideInLeft">
            <div id="dataContainer">
                {% if posts %}
                    {% for a in posts %}
                        <article class="card" id="{{ a.id }}" style="background: #100F0F">
                            <header class="news-card-header">
                                <span class="news-card-image-profil"></span>
                                <p class="news-card-header-title"></p>
                                {% if a.thumb %}
                                    <a data-action="download" href="{{ a.downloadUrl }}" class="news-card-header-icon">
                                        <span>{{ a.downloads }}</span>&nbsp;<i class="icon icon-download"></i>
                                    </a>
                                    <a data-action="save" href="{{ a.saveUrl }}" class="news-card-header-icon">
                                        {% if a.isSaved %}
                                            <i class="icon icon-bookmark blue-txt"></i>
                                        {% else %}
                                            <i class="icon icon-bookmark-empty"></i>
                                        {% endif %}
                                    </a>
                                    <a href="#" class="dropdown-button news-card-header-icon" data-activates="options-list-{{ a.id }}">
                                        <i class="icon icon-down-open"></i>
                                    </a>
                                    <ul id="options-list-{{ a.id }}" class="dropdown-content grey dark-4">
                                        <li>
                                            <a href="{{ a.categoryUrl }}">
                                                <i class="icon icon-tag"></i>
                                                Catégories
                                            </a>
                                        </li>
                                        {% if a.location %}
                                            <li>
                                                <a data-action="location" href="{{ a.locationUrl }}" class="news-card-header-icon">
                                                    <i class="icon icon-location"></i>
                                                    Localisation
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a data-action="report" class="news-card-header-icon" href="{{ a.reportUrl }}">
                                                <i class="icon icon-attention"></i>
                                                Signaler
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                            </header>
                            <div class="card-image news-card-image">
                                <a href="{{ a.url }}" class="waves-effect" style="background-color: #444; width: 100%; min-height: 100px;">
                                    <img src="{{ a.thumbUrl }}" alt="{{ a.title }}" title="{{ a.title }}">
                                </a>
                            </div>
                            <section class="news-card-content">
                                <section class="news-card-title">
                                    <h2>{{ a.title }}&nbsp;<small>{{ a.category }}</small></h2>
                                </section>
                                <main>
                                    <p>
                                        {{ a.snipet | snipet }}
                                    </p>
                                    <a href="{{ a.url }}" class="news-card-seemore right">Voir plus</a>
                                </main>
                                <footer id="articleInfo">
                                    <div class="news-card-stat">
                                        <i class="icon icon-calendar"></i>&nbsp;
                                        <time id="date_created" data-time="{{ a.date_created | date('U') }}">{{ a.time }}</time>
                                    </div>
                                    <div class="news-card-stat">
                                        <i class="icon icon-thumbs-up"></i>&nbsp;
                                        <small><a data-action="showLikes" href="{{ a.LikersUrl }}">{{ a.Likes }}</a></small>
                                    </div>
                                </footer>
                            </section>
                            <footer class="news-card-footer" id="articleOptions">
                                <a data-action="like" class="news-card-footer-item {{ a.isLike }}" href="{{ a.likeUrl }}">
                                    {% if a.isLike == 'active' %}
                                        <i class="icon icon-heart red-txt"></i>
                                    {% else %}
                                        <i class="icon icon-heart-empty"></i>
                                    {% endif %}
                                </a>
                                <a class="news-card-footer-item modal-trigger" href="#cmtAdd-{{ a.id }}" data-action="showComment">
                                    {% if a.commentsNumber > 0 %}
                                        <i class="icon icon-comment" ></i>&nbsp;
                                    {% else %}
                                        <i class="icon icon-comment-empty" ></i>&nbsp;
                                    {% endif %}
                                    <span>{{ a.commentsNumber }}</span>
                                </a>
                                <a data-action="share" class="news-card-footer-item modal-trigger" href="#share-{{ a.id }}">
                                    <i class="icon icon-share"></i>
                                </a>
                            </footer>
                            <div id="cmtAdd-{{ a.id }}" class="modal grey dark-4 bottom-sheet">
                                <div class="modal-content">
                                    <form action="{{ a.commentUrl }}" method="POST" data-action="comment">
                                        <div class="input-field">
                                            <label for="comment">Commentaire</label>
                                            <textarea class="materialize-textarea" name="comment" id="comment"></textarea>
                                        </div>
                                        <div class="modal-footer transparent comment">
                                            <button type="submit" class="modal-action btn waves-effect">Envoyer</button>
                                            <button id="cmtAdd-{{ a.id }}" type="reset" class="btn btn-small transparent waves-effect modal-action modal-close">
                                                Annuler
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="share-{{ a.id }}" class="modal grey dark-4 bottom-sheet">
                                <div class="modal-content">
                                    <div class="col l12 m12 s12">
                                        <div class="col l3 m3 s3">
                                            <button class="btn btn-flat waves-effect hoverable" style="background: #4c67a1" data-action="share-facebook" data-url="{{ a.url }}">
                                                <i class="icon icon-facebook"></i>
                                            </button>
                                        </div>
                                        <div class="col l3 m3 s3">
                                            <button class="btn btn-flat waves-effect hoverable" style="background: #55acee" data-action="share-twitter" data-url="{{ a.url }}">
                                                <i class="icon icon-twitter"></i>
                                            </button>
                                        </div>
                                        <div class="col l3 m3 s3">
                                            <button class="btn btn-flat waves-effect hoverable" style="background: #d23f31" data-action="share-google-plus" data-url="{{ a.url }}">
                                                <i class="icon icon-googleplus-rect"></i>
                                            </button>
                                        </div>
                                        <div class="col l3 m3 s3">
                                            <button class="btn btn-flat waves-effect hoverable" style="background: #11a84d" data-action="share-whatsapp" data-url="{{ a.url }}">
                                                <i class="icon icon-whatsapp"></i>
                                            </button>
                                        </div>
                                        <div class="modal-footer col s12 grey dark-4" style="margin-top: 10px;">
                                            <button class="btn transparent shadow-0 modal-action modal-close">
                                                Annuler
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    <div class="ng-progress-container">
                        <div id="statusBar" class="mtb ng-progress-indeterminate disabled" data-ajax="blog">
                            <span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    <br>
                {% else %}
                    <div class="section center-align">
                        <h2 class="icon icon-inbox red-txt center-align"></h2>
                        <h2 class="ui header divided center"> Aucune publication </h2>
                        <p>
                            le site ne présente actuellement aucune publication disponible, les publications sont peut être en évaluation,
                            ceci pourrait prendre du temps, veuillez revenir plus tard
                        </p>
                    </div>
                {% endif %}
            </div>
        </section>
        {% include 'includes/menu-aside.twig' %}
    </section>
{% endblock %}
